<form action="index.php" method="get">
<table class="sl_table_form">
<tr><td>{{ lbl_nickname }}:</td><td>{{ nick_value }}</td></tr>
<tr><td>{{ lbl_password }}:</td><td>{{ pass_value }}</td></tr>
<tr><td colspan="2" class="sl_center"><input type="hidden" name="name" value="{{ name }}"><input type="hidden" name="op" value="activate"><input type="hidden" name="user" value="{{ user_value }}"><input type="hidden" name="num" value="{{ code_value }}"><input type="submit" value="{{ submit_label }}" class="sl_but_blue"></td></tr>
</table></form>
