{% if is_textarea %}
<textarea name="{{ name_attr }}" cols="{{ cols_num }}" rows="{{ rows_num }}" class="sl_field sl_form"{% if input_attr %} {{{ input_attr }}}{% endif %}>{{ value_text }}</textarea>
{% elseif is_select %}
<select name="{{ name_attr }}" class="sl_field sl_form"{% if select_attr %} {{{ select_attr }}}{% endif %}>
    <option value="">{{ empty_label }}</option>
    {{{ options_html }}}
</select>
{% else %}
<input type="{{ input_type }}" name="{{ name_attr }}" value="{{ value_attr }}" class="sl_field sl_form"{% if input_attr %} {{{ input_attr }}}{% endif %}>
{% endif %}
