<div class="sl-config-module{% if show_hr %} sl-config-module-separated{% endif %}">
    <div class="sl-config-item sl-config-item-static">
        <div class="sl-config-label">{{ module_label }}</div>
        <div class="sl-config-field"><span title="{{ module_label }} {{ module_text }}" class="sl_note">{{ module_name }}</span></div>
    </div>
    <div class="sl-config-item">
        <div class="sl-config-label">{{ time_label }}</div>
        <div class="sl-config-field"><input type="number" name="time[]" value="{{ time_value }}" class="sl_conf" placeholder="{{ time_label }}" required></div>
    </div>
    <div class="sl-config-item">
        <div class="sl-config-label">{{ in_label }}</div>
        <div class="sl-config-field">{{{ in_html }}}</div>
    </div>
    <div class="sl-config-item">
        <div class="sl-config-label">{{ view_label }}</div>
        <div class="sl-config-field">{{{ view_html }}}</div>
    </div>
</div>
