{% if text or lines %}
  <div
    class="sl-alert {% if type %}sl-alert-{{ type }}{% elseif is_warn %}sl-alert-warn{% else %}sl-alert-info{% endif %}{% if is_flash %} sl-alert-flash{% endif %}"
    {% if alert_attr %}{{{ alert_attr }}}{% endif %}
  >
    {% if is_flash %}<div class="sl-alert-flash-bar"></div>{% endif %}
    <div class="sl-alert-body">
      {% if text %}{{{ text }}}{% endif %}
      {% if lines %}{% for line in lines %}<div>{{ line }}</div>{% endfor %}{% endif %}
    </div>
  </div>
{% endif %}
{% if meta %}{{{ meta }}}{% endif %}
