{% if value_attr %}
<button
  type="{% if button_type %}{{ button_type }}{% elseif submit_label %}submit{% else %}button{% endif %}"
  {% if button_id %}id="{{ button_id }}"{% elseif input_id %}id="{{ input_id }}"{% endif %}
  {% if name_attr %}name="{{ name_attr }}"{% endif %}
  value="{{ value_attr }}"
  class="
    {% if button_class %}{{ button_class }}
    {% elseif class %}{{ class }}
    {% elseif is_danger %}sl-but-red
    {% elseif is_green %}sl-but-green
    {% elseif is_blue or is_chlog_primary %}sl-but-blue
    {% elseif is_plain or is_chlog_secondary %}sl-but
    {% else %}sl-but-blue
    {% endif %}
  "
  {% if title_text %}title="{{ title_text }}"{% elseif title %}title="{{ title }}"{% endif %}
  {% if is_disabled %}disabled{% endif %}
  {% if button_attr %}{{{ button_attr }}}{% elseif input_attr %}{{{ input_attr }}}{% endif %}
  {% if hx_post %}hx-post="{{ hx_post }}" {% if hx_include %}hx-include="{{ hx_include }}" {% endif %}hx-target="{{ hx_target }}" hx-swap="{% if hx_swap %}{{ hx_swap }}{% else %}innerHTML{% endif %}" hx-push-url="false"{% if hx_on_click %} hx-on:click="{{{ hx_on_click }}}"{% endif %}{% if hx_on_after %} hx-on:htmx:after-request="{{{ hx_on_after }}}"{% endif %}{% endif %}
>
  {% if submit_label %}{{ submit_label }}{% else %}{{ label }}{% endif %}
</button>
{% else %}
<input
  type="{% if button_type %}{{ button_type }}{% elseif submit_label %}submit{% else %}button{% endif %}"
  {% if button_id %}id="{{ button_id }}"{% elseif input_id %}id="{{ input_id }}"{% endif %}
  {% if name_attr %}name="{{ name_attr }}"{% endif %}
  value="{% if submit_label %}{{ submit_label }}{% else %}{{ label }}{% endif %}"
  class="
    {% if button_class %}{{ button_class }}
    {% elseif class %}{{ class }}
    {% elseif is_danger %}sl-but-red
    {% elseif is_green %}sl-but-green
    {% elseif is_blue or is_chlog_primary %}sl-but-blue
    {% elseif is_plain or is_chlog_secondary %}sl-but
    {% else %}sl-but-blue
    {% endif %}
  "
  {% if title_text %}title="{{ title_text }}"{% elseif title %}title="{{ title }}"{% endif %}
  {% if is_disabled %}disabled{% endif %}
  {% if reset_url %}onclick="window.location.href='{{{ reset_url }}}'"{% endif %}
  {% if button_attr %}{{{ button_attr }}}{% elseif input_attr %}{{{ input_attr }}}{% endif %}
  {% if hx_post %}hx-post="{{ hx_post }}" {% if hx_include %}hx-include="{{ hx_include }}" {% endif %}hx-target="{{ hx_target }}" hx-swap="{% if hx_swap %}{{ hx_swap }}{% else %}innerHTML{% endif %}" hx-push-url="false"{% if hx_on_click %} hx-on:click="{{{ hx_on_click }}}"{% endif %}{% if hx_on_after %} hx-on:htmx:after-request="{{{ hx_on_after }}}"{% endif %}{% endif %}
>
{% endif %}
