<div
  {% if id %}id="{{ id }}"{% endif %}
  class="
    sl-div-item
    {% if is_full %} sl-div-item-full{% endif %}
    {% if row_class %} {{ row_class }}{% endif %}
    {% if is_hidden %} sl-hidden{% endif %}
    {% if is_lang_edit %} sl-lang-edit-row{% endif %}
    {% if is_ratings_inner %} sl-ratings-inner-row{% endif %}
  "
  {% if attr %}{{{ attr }}}{% endif %}
>
  <div class="sl-div-label">{% if label_for %}<label{% if label_id %} id="{{ label_id }}"{% endif %} for="{{ label_for }}">{{{ label_html }}}</label>{% elseif label_id %}<span id="{{ label_id }}">{{{ label_html }}}</span>{% else %}{{{ label_html }}}{% endif %}{% if hint_html %}<span class="sl-small"{% if hint_id %} id="{{ hint_id }}"{% endif %}>{{{ hint_html }}}</span>{% endif %}</div>
  {% if field_unwrapped %}
    {% if has_field_text %}{{ field_text }}{% else %}{{{ field_html }}}{% endif %}
  {% else %}
    <div class="sl-div-field">{% if has_field_text %}{{ field_text }}{% else %}{{{ field_html }}}{% endif %}</div>
  {% endif %}
</div>
