<article class="sl-menu-grid-item sl-mcard{% if is_off %} sl-mcard-off{% endif %}">
  <a class="sl-mcard-link" href="{{{ url }}}" title="{{ title_attr }}">
    <span class="sl-ico">
      <i class="bi bi-{{ icon_name }}"></i>
      <i class="sl-led{% if is_off %} sl-led-off{% else %} sl-led-ok{% endif %}" title="{{ led_title }}"></i>
    </span>
    <span class="sl-mbody">
      <strong>{{ title }}</strong>
      {% if subtitle %}<span>{{ subtitle }}</span>{% endif %}
    </span>
  </a>
  {% include 'fragments/dial.html' %}
</article>
