<tr>
    <td>
        {{{ geo_html }}}
        {% if name_link %}
        {% include 'fragments/link.html' with name_link %}
        {% else %}
        <span title="{{ name_title }}"{% if name_class %} class="{{ name_class }}"{% endif %}>{{ name_text }}</span>
        {% endif %}
    </td>
    <td title="{{ module_title }}" class="{% if module_class %}{{ module_class }}{% else %}sl-right sl-note{% endif %}">
        {% if module_link %}
        {% include 'fragments/link.html' with module_link %}
        {% else %}
        {{ module_text }}
        {% endif %}
    </td>
</tr>
