<span
  {% if title %}title="{{ title }}"{% elseif back_title %}title="{{ back_title }}"{% endif %}
  {% if is_back or back_text or has_back_button %}onclick="javascript:window.history.go(-1);"{% endif %}

  {% if class or back_text or has_back_button or is_back or is_highlight or is_geo_flag or is_alpha_letter or is_success or is_hidden or is_bold or is_danger %}
  class="
    {% if class %}{{ class }}{% endif %}
    {% if back_text or has_back_button %} sl-but-back{% endif %}
    {% if is_back %} sl-back-button{% endif %}
    {% if is_highlight %} sl-highlight{% endif %}
    {% if is_geo_flag %} sl-geo-flag{% endif %}
    {% if is_alpha_letter %} sl-letter{% endif %}
    {% if is_success %} sl-text-success{% endif %}
    {% if is_hidden %} sl-hidden{% endif %}
    {% if is_bold %} sl-text-bold{% endif %}
    {% if is_danger %} sl-text-danger{% endif %}
  "
  {% endif %}

  {% if is_htmx %}
    hx-get="index.php?{{ request }}"
    hx-trigger="click"
    hx-target="#rep{{ target_id }}"
    hx-swap="{% if hx_swap %}{{ hx_swap }}{% else %}innerHTML{% endif %}"
    hx-push-url="false"
  {% endif %}
>
  {% if label %}{{ label }}: {% endif %}
  {% if img_src %}<img src="{{ img_src }}" alt="{{ img_alt }}" title="{{ img_alt }}">{% endif %}
  {% if content_html %}{{{ content_html }}}{% elseif back_text %}{{ back_text }}{% elseif back_label %}{{ back_label }}{% else %}{{ text }}{% endif %}
</span>{% if is_line_break %}<br>{% endif %}
