<span
  {% if title %}title="{{ title }}"{% elseif back_title %}title="{{ back_title }}"{% endif %}
  {% if is_back or back_text or has_back_button %}onclick="javascript:window.history.go(-1);"{% endif %}

  {% if class or back_text or has_back_button or is_shop_price or is_card_reads or is_card_post or is_card_admin or is_back or is_highlight or is_geo_flag or is_alpha_letter or is_success or is_message_in or is_message_out or is_message_save or is_favorite or is_votes or is_cart_total or is_hidden or is_bold or is_danger %}
  class="
    {% if class %}{{ class }}{% endif %}
    {% if back_text or has_back_button %} sl-but-back{% endif %}
    {% if is_shop_price %} sl-shop-price{% endif %}
    {% if is_card_reads %} sl-card-reads{% endif %}
    {% if is_card_post %} sl-card-post{% endif %}
    {% if is_card_admin %} sl-card-admin{% endif %}
    {% if is_back %} sl-back-button{% endif %}
    {% if is_highlight %} sl-highlight{% endif %}
    {% if is_geo_flag %} sl-geo-flag{% endif %}
    {% if is_alpha_letter %} sl-letter{% endif %}
    {% if is_success %} sl-text-success{% endif %}
    {% if is_message_in %} sl-message-in{% endif %}
    {% if is_message_out %} sl-message-out{% endif %}
    {% if is_message_save %} sl-message-save{% endif %}
    {% if is_favorite %} sl-favor{% endif %}
    {% if is_favorite_on %} sl-favor-on{% endif %}
    {% if is_favorite_off %} sl-favor-off{% endif %}
    {% if is_votes %} sl-votes{% endif %}
    {% if is_cart_total %} sl-cart-total{% endif %}
    {% if is_hidden %} sl-hidden{% endif %}
    {% if is_bold %} sl-text-bold{% endif %}
    {% if is_danger %} sl-text-danger{% endif %}
  "
  {% endif %}

  {% if is_htmx %}
    hx-get="index.php?{{ request }}"
    hx-trigger="click"
    hx-target="#rep{{ target_id }}"
    hx-swap="{% if hx_swap %}{{ hx_swap }}{% else %}innerHTML{% endif %}"
    hx-push-url="false"
  {% endif %}
>
  {% if label %}{{ label }}: {% endif %}
  {% if img_src %}<img src="{{ img_src }}" alt="{{ img_alt }}" title="{{ img_alt }}">{% endif %}
  {% if content_html %}{{{ content_html }}}{% elseif back_text %}{{ back_text }}{% elseif back_label %}{{ back_label }}{% else %}{{ text }}{% endif %}
</span>{% if is_line_break %}<br>{% endif %}
