{% for cell in cells %}
  {% if is_summary %}
    <th
      {% if cell.class_name or cell.is_truncate or cell.is_col_id or cell.is_col_check or cell.is_col_author or cell.is_col_status or cell.is_col_actions or cell.is_col_date or cell.is_col_count or cell.is_col_title %}
      class="
        {% if cell.class_name %}{{ cell.class_name }}{% endif %}
        {% if cell.is_truncate %} sl-cell-ellipsis{% endif %}
        {% if cell.is_col_id %} sl-col-id{% endif %}
        {% if cell.is_col_check %} sl-col-check{% endif %}
        {% if cell.is_col_author %} sl-col-author{% endif %}
        {% if cell.is_col_status %} sl-col-status{% endif %}
        {% if cell.is_col_actions %} sl-col-actions{% endif %}
        {% if cell.is_col_date %} sl-col-date{% endif %}
        {% if cell.is_col_count %} sl-col-count{% endif %}
        {% if cell.is_col_title %} sl-col-title{% endif %}
      "
      {% endif %}
      {% if cell.title_text %}title="{{ cell.title_text }}"{% endif %}
      {% if cell.attr %}{{{ cell.attr }}}{% endif %}
    >
      {% if cell.prefix_html %}{{{ cell.prefix_html }}}{% endif %}
      {% if cell.has_content_text %}{{ cell.content_text }}{% else %}{{{ cell.content_html }}}{% endif %}
    </th>
  {% else %}
    <td
      {% if cell.class_name or cell.is_truncate or cell.is_col_id or cell.is_col_check or cell.is_col_author or cell.is_col_status or cell.is_col_actions or cell.is_col_date or cell.is_col_count or cell.is_col_title %}
      class="
        {% if cell.class_name %}{{ cell.class_name }}{% endif %}
        {% if cell.is_truncate %} sl-cell-ellipsis{% endif %}
        {% if cell.is_col_id %} sl-col-id{% endif %}
        {% if cell.is_col_check %} sl-col-check{% endif %}
        {% if cell.is_col_author %} sl-col-author{% endif %}
        {% if cell.is_col_status %} sl-col-status{% endif %}
        {% if cell.is_col_actions %} sl-col-actions{% endif %}
        {% if cell.is_col_date %} sl-col-date{% endif %}
        {% if cell.is_col_count %} sl-col-count{% endif %}
        {% if cell.is_col_title %} sl-col-title{% endif %}
      "
      {% endif %}
      {% if cell.title_text %}title="{{ cell.title_text }}"{% endif %}
      {% if cell.attr %}{{{ cell.attr }}}{% endif %}
    >
      {% if cell.prefix_html %}{{{ cell.prefix_html }}}{% endif %}
      {% if cell.has_content_text %}{{ cell.content_text }}{% else %}{{{ cell.content_html }}}{% endif %}
    </td>
  {% endif %}
{% endfor %}
