<div id="{{ block_id }}" class="sl-toggle-form-block{% if is_hidden %} sl-none{% endif %}">
    <div class="sl-div-grid">
        <div class="sl-div-item sl-toggle-form-block-item">
            <div class="sl-div-label">
                {% if toggle_onclick %}
                {% include 'fragments/link.html' %}
                {% else %}
                <span class="sl-toggle-form-block-title">{{{ label_html }}}</span>
                {% endif %}
            </div>
            <div class="sl-div-field">{{{ content_html }}}</div>
        </div>
    </div>
</div>
