<!doctype html>
<html lang="{{ lang }}" data-theme="{{ mode }}">
<head>
{{{ meta }}}
{{{ links }}}
{{{ scripts }}}
</head>
<body>
  <div>
    <div></div>
    <div>
      <div>
        <div><h1><a href="//slaed.net" target="_blank" class="sl-hidden" title="SLAED CMS">SLAED CMS</a></h1></div>
        <div>
          <div>
            <div>
              <ul>{{{ menu }}}</ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <div>{{{ admin_blocks }}}</div>
            <div>{% block content %}{% endblock %}</div>
            <div class="sl-clr"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="sl-copyright">{% if time_html %}{{{ time_html }}}<br>{% endif %}{{{ license }}}</div>
        <span>{{{ foot_html }}}</span>
      </div>
    </div>
    <div></div>
    {% if debug_html %}
    <div id="sl_debugger" data-sl-toggle="sl_debugger" data-sl-toggle-default="open">
    {{{ debug_html }}}
    </div>
    {% endif %}
  </div>
</body>
</html>
