{% include 'partials/site-header.html' %}
  <div class="sl-wrp">
    <div id="container"{% if blocks_left %} class="sl-has-left{% if blocks_right %} sl-has-right{% endif %}"{% elseif blocks_right %} class="sl-has-right"{% endif %}>
      {% if blocks_left %}
      <aside id="leftbar">{{{ blocks_left }}}</aside>
      {% endif %}
      <main id="content">
        {% if not has_own_title %}<h1 class="sl-title">{{ sitename }}</h1>{% endif %}
        {% block content %}{{{ content }}}{% endblock %}
      </main>
      {% if blocks_right %}
      <aside id="sidebar">{{{ blocks_right }}}</aside>
      {% endif %}
    </div>
  </div>
  {% if blocks_down %}{{{ blocks_down }}}{% endif %}
{% include 'partials/site-footer.html' %}
