parameters:
    level: 0
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - admin/index.php
    paths:
        - core
        - modules
    excludePaths:
        - modules/*/admin/info/*
        - plugins/*
        - vendor/*
    ignoreErrors:
        - '#Undefined variable: \$uname#'
        - '#Function whois invoked with 0 parameters#'
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
