<div id="topmenu">
  <ul>
    <li><a href="/" class="sl-home-link sl-circle-action" title="{{ home }}"><i class="bi bi-house-door-fill" aria-hidden="true"></i><span class="sl-hidden">{{ home }}</span></a></li>
    <li>
      <a href="#" title="Услуги">Услуги</a>
      <ul>
        <li><a href="https://slaed.de" target="_blank" title="Модификация и интеграция тем оформления">Темы и шаблоны</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Поддержка">Поддержка</a>
      <ul>
        <li><a href="index.php?name=faq" title="Вопросы и ответы">Вопросы и ответы</a></li>
        <li><a href="index.php?name=docs" title="Центр документации">Центр документации</a></li>
        <li><a href="index.php?name=forum" title="Общий форум проекта">Общий форум проекта</a></li>
        <li><a href="https://slaed.info" target="_blank" title="Руководство по PHP">Руководство по PHP</a></li>
        <li><a href="index.php?name=help" title="Техническая поддержка клиентов">Техническая поддержка</a></li>
        <li><a href="index.php?name=contact" title="Обратная связь и контактная информация">Обратная связь</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Каталог файлов">Каталог файлов</a>
      <ul>
        <li><a href="index.php?name=files" title="Каталог файлов">Каталог файлов</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Новости">Новости</a>
      <ul>
        <li><a href="index.php?name=news" title="Все новости проекта">Все новости</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Компания">Компания</a>
      <ul>
        <li><a href="index.php?name=contact" title="Контактная информация">Контактные данные</a></li>
        <li><a href="index.php?name=presentation" title="Презентационная страница системы">Презентационная страница</a></li>
        <li><a href="index.php?name=recommend" title="Рекомендовать наш сайт"><i class="bi bi-chat-heart-fill" aria-hidden="true"></i>&nbsp;Рекомендовать наш сайт</a></li>
        <li><a href="index.php?name=links" title="Каталог сайтов системы">Каталог сайтов системы</a></li>
        <li><a href="index.php?name=users" title="Tоп пользователи проекта">Tоп пользователи проекта</a></li>
        <li><a href="index.php?name=voting" title="Опросы нашего проекта">Опросы нашего проекта</a></li>
      </ul>
    </li>
  </ul>
</div>
