<div{% if id %} id="{{ id }}"{% endif %} class="sl-preview sl-preview-admin">
  {% if title %}
  <div class="sl-preview-head">{{ title }}</div>
  {% endif %}
  <div class="sl-preview-body">
    {% if title_text %}
    <div class="sl-preview-title sl-preview-admin-title">{{ title_text }}</div>
    {% elseif title_html %}
    <div class="sl-preview-title sl-preview-admin-title">{{{ title_html }}}</div>
    {% endif %}
    {% if body_a %}
    <div class="sl-preview-section sl-preview-field-primary">{{{ body_a }}}</div>
    {% endif %}
    {% if body_b %}
    <div class="sl-preview-section sl-preview-field-secondary">{{{ body_b }}}</div>
    {% endif %}
    {% if body_c %}
    <div class="sl-preview-section sl-preview-meta sl-preview-field-meta">{{{ body_c }}}</div>
    {% endif %}
  </div>
</div>
