<form action="index.php?name={{ name }}" method="post">
<table class="sl_table_form">
<tr><td>{{ lbl_nickname }}:</td><td><input type="text" name="user_name" maxlength="25" class="sl-field" placeholder="{{ lbl_nickname }}" required></td></tr>
<tr><td>{{ lbl_password }}:</td><td><input type="password" name="user_password" maxlength="25" class="sl-field" placeholder="{{ lbl_password }}" required></td></tr>
<tr><td colspan="2" class="sl_center">{{{ captcha }}}<input type="hidden" name="token" value="{{ token }}"><input type="hidden" name="op" value="login"><input type="submit" value="{{ submit_label }}" class="sl_but_blue"></td></tr>
<tr><td colspan="2" class="sl_center"><a href="{{{ passlost_href }}}" title="{{ passlost_label }}" class="sl_but_foot">{{ passlost_label }}</a><a href="{{{ register_href }}}" title="{{ register_label }}" class="sl_but_foot">{{ register_label }}</a></td></tr>
{% if network_enabled %}<tr><td colspan="2" class="sl_center">{{ network_label }}</td></tr><tr><td colspan="2" class="sl_center">{{{ network_html }}}</td></tr>{% endif %}
</table></form>
