<div id="{{ id }}" {{{ hclass }}}>
	<table class="sl_table_basic"><thead>
		<tr>
			<th>
				<a OnClick="HideShow(&#039;c-form-{{ id }}&#039;, &#039;blind&#039;, &#039;up&#039;, 500);"><b>{{ username }}</b></a>
				<div class="sl_drop">
					<div id="c-form-{{ id }}" class="sl_drop-form">
						<ul class="list-text">
							<li>{{{ group }}}</li>
							<li>{{{ points }}}</li>
							<li>{{{ regdate }}}</li>
							<li>{{{ gender }}}</li>
							<li>{{{ from }}}</li>
							<li>{{{ warn }}}</li>
						</ul>
					</div>
				</div>
			</th>
			<th><span style="float: left;">{{{ date }}}</span>{{{ ip }}} {{{ post_count }}} {{{ checkb }}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="vertical-align: top; text-align: center;">
				<div><a title="{{ username }}" class="sl_avatar" style="background-image: url({{ avatar }});"></a></div>
				<div>{{{ rank }}}</div>
				<div>{{{ rank_link }}}</div>
			</td>
			<td style="position: relative; width: 80%; height: 100%;">
				<div style="position: absolute; top: 4px;">{{{ text }}}</div>
				<div style="position: absolute; bottom: 4px;">{{{ sig }}}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="min-rate">
					<div class="rate-like-box">{{{ user_rate }}}</div>
				</div>
			</td>
			<td>
				<div style="float: left;">{{{ btn_pm }}} {{{ btn_profile }}} {{{ btn_web }}} {{{ btn_warn }}} {{{ btn_thank }}}</div><div style="float: right;">{{{ btn_edit }}}</div>
			</td>
		</tr>
	</tbody></table>
</div>
