{% if content_html %}
<nav class="sl-tip" tabindex="0"><i class="bi bi-info-circle-fill"></i><div>{{{ content_html }}}</div></nav>
{% endif %}
{% if content %}
<nav class="sl-tip" tabindex="0"><i class="bi bi-info-circle-fill"></i><div>{{{ content }}}</div></nav>
{% endif %}
{% if items %}
<nav class="sl-tip" tabindex="0"><i class="bi bi-info-circle-fill"></i><div><dl>{% for item in items %}<dt>{{ item.label }}</dt><dd>{{{ item.value }}}</dd>{% endfor %}</dl></div></nav>
{% endif %}
{% if label_text %}<span title="{{ title_text }}" class="sl-note">{{ label_text }}</span>{% endif %}
