<tr id="kasse-{{ id }}" class="forum-line">
    <td class="fl-col-num"><a href="#kasse-{{ id }}" title="{{ id }}" class="sl_pnum">{{ id }}</a></td>
    <td class="fl-col-content"><h4><a href="{{{ title_href }}}" title="{{ title_attr }}">{{ title_text }}</a> {{{ title_new }}}</h4></td>
    <td class="fl-col-num">{{ qty }}</td>
    <td class="fl-col-stat">{{ price_text }}</td>
    <td class="fl-col-stat">
        <a OnClick="AjaxLoad('GET', '0', 'kasse', '{{{ plus_query }}}', ''); return false;" title="{{ plus_title }}" class="sl_shop_plus"></a>
        <a OnClick="AjaxLoad('GET', '0', 'kasse', '{{{ minus_query }}}', ''); return false;" title="{{ minus_title }}" class="sl_shop_minus"></a>
    </td>
</tr>
