<form name="post" action="index.php?name={{ name }}" method="post">
<input type="hidden" name="token" value="{{{ token }}}">
<table class="sl_table_form">
{% if has_name %}
    {% if is_user %}
    <tr><td>{{ lbl_name }}:</td><td>{{ username }}</td></tr>
    {% else %}
    <tr><td>{{ lbl_name }}:</td><td><input type="text" name="postname" value="{{ postname }}" class="sl-field" placeholder="{{ lbl_name }}" required></td></tr>
    {% endif %}
{% endif %}
<tr><td>{{ lbl_title }}:</td><td><input type="text" name="title" value="{{ title }}" maxlength="100" class="sl-field" placeholder="{{ lbl_title }}" required></td></tr>
<tr><td>{{ lbl_subtitle }}:</td><td><input type="text" name="subtitle" value="{{ subtitle }}" maxlength="100" class="sl-field" placeholder="{{ lbl_subtitle }}"></td></tr>
<tr><td>{{ lbl_cat }}:</td><td>{{{ catselect }}}</td></tr>
<tr><td>{{ lbl_year }}:</td><td><select name="year" class="sl-field">{{{ year_options }}}</select></td></tr>
<tr><td>{{ lbl_director }}:</td><td><input type="text" name="director" value="{{ director }}" maxlength="100" class="sl-field" placeholder="{{ lbl_director }}"></td></tr>
<tr><td>{{ lbl_roles }}:</td><td><input type="text" name="roles" value="{{ roles }}" maxlength="255" class="sl-field" placeholder="{{ lbl_roles }}"></td></tr>
<tr><td>{{ lbl_description }}:</td><td>{{{ description }}}</td></tr>
<tr><td>{{ lbl_createdby }}:</td><td><input type="text" name="createdby" value="{{ createdby }}" maxlength="100" class="sl-field" placeholder="{{ lbl_createdby }}"></td></tr>
<tr><td>{{ lbl_duration }}:</td><td><input type="text" name="duration" value="{{ duration }}" maxlength="100" class="sl-field" placeholder="{{ lbl_duration }}"></td></tr>
<tr><td>{{ lbl_lang }}:</td><td><select name="lang" class="sl-field">{{{ lang_options }}}</select></td></tr>
<tr><td>{{ lbl_note }}:</td><td>{{{ note }}}</td></tr>
<tr><td>{{ lbl_format }}:</td><td><select name="format" class="sl-field"><option value="">{{ no_info }}</option>{{{ format_options }}}</select></td></tr>
<tr><td>{{ lbl_quality }}:</td><td><select name="quality" class="sl-field"><option value="">{{ no_info }}</option>{{{ quality_options }}}</select></td></tr>
<tr><td>{{ lbl_size }}:</td><td><input type="text" name="size" value="{{ size }}" maxlength="100" class="sl-field" placeholder="{{ lbl_size }}"></td></tr>
<tr><td>{{ lbl_released }}:</td><td><input type="text" name="released" value="{{ released }}" maxlength="100" class="sl-field" placeholder="{{ lbl_released }}"></td></tr>
<tr><td colspan="2">{{{ links_rows }}}</td></tr>
<tr><td colspan="2" class="sl_center">{{{ captcha }}}{{{ submit }}}</td></tr>
</table></form>
