<form action="index.php?name={{ name }}" method="post"><table class="sl_table_form">
<tr><td colspan="2">{{ info_text }}</td></tr>
<tr><td colspan="2" class="sl_center"><hr></td></tr>
<tr><td>{{ lbl_tip }}:</td><td><select name="mod" OnChange="submit()" class="sl-field">{{{ mods_options }}}</select></td></tr>
<tr><td>{{ lbl_categories }}:</td><td>{{{ catselect }}}</td></tr>
<tr><td>{{ lbl_amount }}:</td><td><select name="num" class="sl-field">{{{ num_options }}}</select></td></tr>
<tr><td>{{ lbl_code }}:</td><td><textarea cols="45" rows="3" OnClick="this.select()" class="sl-field">{{{ rsslink }}}</textarea></td></tr>
<tr><td colspan="2" class="sl_center"><input type="hidden" name="op" value="info"><input type="submit" value="{{ submit_label }}" class="sl_but_blue"></td></tr>
</table></form>
