<tr><td>{{ _c33 }}:</td><td><input type="number" name="num" value="{{ num }}" class="sl_conf" placeholder="{{ _c33 }}" required></td></tr>
<tr><td>{{ _c34 }}:</td><td><input type="number" name="anum" value="{{ anum }}" class="sl_conf" placeholder="{{ _c34 }}" required></td></tr>
<tr><td>{{ _c35 }}:</td><td><input type="number" name="nump" value="{{ nump }}" class="sl_conf" placeholder="{{ _c35 }}" required></td></tr>
<tr><td>{{ _c36 }}:</td><td><input type="number" name="anump" value="{{ anump }}" class="sl_conf" placeholder="{{ _c36 }}" required></td></tr>
