{% if content_html %}
<div
  {% if id %}id="{{ id }}"{% endif %}
  {% if class or is_radio_group or is_collapsible or is_code or is_search_line or is_rate_box %}
  class="
    {% if class %}{{ class }}{% endif %}
    {% if is_radio_group %}{% if class %} {% endif %}sl-radio-group{% endif %}
    {% if is_collapsible %}{% if class or is_radio_group %} {% endif %}sl-collapsible{% endif %}
    {% if is_code %}{% if class or is_radio_group or is_collapsible %} {% endif %}sl-code{% endif %}
    {% if is_search_line %} sl-search-line{% endif %}
    {% if is_rate_box %} rate-box pull-right{% endif %}
  "
  {% endif %}
  {% if title %}title="{{ title }}"{% endif %}
  {% if is_collapsible and id %}data-sl-toggle="{{ id }}"{% endif %}
  {% if attr %}{{{ attr }}}{% endif %}
>{{{ content_html }}}</div>
{% else %}
<div class="sl-div-grid">
  {% for row in rows %}
  {% include 'fragments/div-row.html' with row %}
  {% endfor %}
</div>
{% endif %}
