<div class="sl-fm-edit" data-sl-fm-code="{{ code_id }}" data-sl-fm-ask="{{ ask_text }}">
  {% if note_html %}{{{ note_html }}}{% endif %}
  <form action="{{ action_url }}" method="post" class="sl-fm-edit-form">
    {% for item in hidden %}
    {% include 'fragments/hidden.html' with item %}
    {% endfor %}
    <div class="sl-fm-edit-head">
      <a class="sl-but" href="{{ back_url }}"><i class="bi bi-arrow-left" aria-hidden="true"></i>&nbsp;{{ back_text }}</a>
      <b title="{{ path_text }}">{{ path_text }}</b>
      <span class="sl-chip sl-chip-neutral" title="{{ ver_hint }}">{{ ver_label }} {{ ver_text }}</span>
      <button type="submit" class="sl-but-blue"{% if confirm_text %} data-sl-confirm="{{ confirm_text }}"{% endif %}><i class="bi bi-save" aria-hidden="true"></i>&nbsp;{{ save_text }}</button>
    </div>
    {{{ code_html }}}
  </form>
</div>
