<dialog class="sl-modal sl-icon-modal" id="sl_icon_modal">
  <div class="sl-modal-body">
    <div class="sl-modal-title">
      <nav class="sl-icon-modal-tabs">
        <button type="button" class="sl-is-active" data-sl-icon-source="bi">Bootstrap Icons</button>
      </nav>
      <input type="search" class="sl-select-config" placeholder="{{ search_text }}" data-sl-icon-search>
    </div>
    <button type="button" class="sl-but-mini sl-modal-close" title="{{ close_text }}" data-sl-icon-close><i class="bi bi-x-lg"></i></button>
    <div class="sl-icon-modal-grid notranslate" translate="no" data-sl-icon-grid></div>
  </div>
</dialog>
