<form action="{{ route }}.php" method="post">
    <div class="entborder">
        <ul class="reset">
            <li><span>{{ nickname }}:</span><div class="adm_login">{% include 'fragments/input.html' with name_field %}</div><br></li>
            <li><span>{{ password }}:</span><div class="adm_login">{% include 'fragments/input.html' with pwd_field %}</div><br></li>
            {% if captcha %}<li><span>&nbsp;</span><div class="adm_login">{{{ captcha }}}</div><br></li>{% endif %}
        </ul>
    </div>
    <div class="sl-submit">{% include 'fragments/hidden.html' with hidden %}{% include 'fragments/button.html' with submit %}</div>
</form>
