<form action="{{ route }}.php" method="post">
    <div class="entborder">
        <ul class="reset">
            <li><span>{{ nickname }}:</span><div class="adm_login"><input type="text" name="name" maxlength="25" placeholder="{{ nickname }}" autocomplete="username" required></div><br></li>
            <li><span>{{ password }}:</span><div class="adm_login"><input type="password" name="pwd" maxlength="25" placeholder="{{ password }}" autocomplete="current-password" required></div><br></li>
            {% if captcha %}<li><span>&nbsp;</span><div class="adm_login">{{{ captcha }}}</div><br></li>{% endif %}
        </ul>
    </div>
    <div class="sl-submit"><input type="hidden" name="op" value="check_admin"><input type="submit" value="{{ login }}" class="sl-but-blue"></div>
</form>
