<div class="sl-box">
        <div class="sl-module-head">
            <div class="sl-module-head-icon"><img src="templates/admin/images/admin/{{ icon }}" title="{{ title }}" alt="{{ title }}"></div>
            <div class="sl-module-head-body">
                <h1 class="sl-module-head-title">{{ title }}</h1>
                {% if subtitle_html %}<div class="sl-module-head-subtitle">{{{ subtitle_html }}}</div>{% endif %}
            </div>
        </div>
        {% if tabs_html %}
        <ul class="sl-tabs-nav sl-tabs-nav-main"
            {% if tabs_id %}id="{{ tabs_id }}"{% endif %}
            {% if is_runtime %}{% if tabs_id %}data-sl-tabs-init="{{ tabs_id }}"{% endif %}{% endif %}
            {% if tabs_index %}data-sl-tabs-index="{{ tabs_index }}"{% endif %}
            {% if tabs_sync_selector %}data-sl-tabs-sync="{{ tabs_sync_selector }}"{% endif %}>
            {{{ tabs_html }}}
        </ul>
        {% endif %}
</div>
{% if flash_html %}{{{ flash_html }}}{% endif %}
