<div class="sl-box">
    <div class="sl-box-pad">
        <div class="sl-box-content">
            <div class="sl-preview">
                {% if title %}
                <div class="sl-preview-head">{{ title }}</div>
                {% endif %}
                <div class="sl-preview-body">
                    {% if title_html %}
                    <div class="sl-preview-title">{{{ title_html }}}</div>
                    {% endif %}
                    {% if body_a %}
                    <div class="sl-preview-section">{{{ body_a }}}</div>
                    {% endif %}
                    {% if body_b %}
                    <div class="sl-preview-section">{{{ body_b }}}</div>
                    {% endif %}
                    {% if body_c %}
                    <div class="sl-preview-section sl-preview-meta">{{{ body_c }}}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
