<form action="{{ route }}.php" method="post">
    <div class="entborder">
        <ul class="reset">
            <li><span>{{ nickname }}:</span><div class="adm_login"><input type="text" name="aname" value="{{ aname }}" maxlength="25" placeholder="{{ nickname }}" required></div><br></li>
            <li><span>{{ homepage }}:</span><div class="adm_login"><input type="url" name="aurl" value="http://{{ host }}" maxlength="255" placeholder="{{ homepage }}" required></div><br></li>
            <li><span>{{ email }}:</span><div class="adm_login"><input type="email" name="aemail" value="{{ aemail }}" maxlength="255" placeholder="{{ email }}" required></div><br></li>
            <li><span>{{ password }}:</span><div class="adm_login"><input type="password" name="apwd" maxlength="25" placeholder="{{ password }}" required></div><br></li>
            <li><span>{{ retype }}:</span><div class="adm_login"><input type="password" name="apwd2" maxlength="25" placeholder="{{ retype }}" required></div><br></li>
            <li><span>{{ createuserdata }}</span><div><input type="radio" name="auser_new" value="1" checked>{{ yes }} <input type="radio" name="auser_new" value="0">{{ no }}</div><br></li>
        </ul>
    </div>
    <div class="sl-submit"><input type="hidden" name="op" value="add_admin"><input type="submit" value="{{ send }}" class="sl-but-blue"></div>
</form>
