<div class="admin-preview">
    {% if title %}
    <div class="admin-preview-title">{{ title }}</div>
    {% endif %}

    <div class="admin-preview-body">
        {% if title_html %}
        <div class="admin-preview-fields">{{{ title_html }}}</div>
        {% endif %}

        {% if body_a %}
        <div class="admin-preview-fields1">{% if title_html %}<br><br>{% endif %}{{{ body_a }}}</div>
        {% endif %}

        {% if body_b %}
        <div class="admin-preview-fields2"><br><br>{{{ body_b }}}</div>
        {% endif %}

        {% if body_c %}
        <div class="admin-preview-fields3"><br><br>{{{ body_c }}}</div>
        {% endif %}
    </div>
</div>
