<form action="{%route%}.php" method="post">
	<div class="entborder">
		<ul class="reset">
			<li><span>{%nickname%}:</span><div class="adm_login"><input type="text" name="name" maxlength="25" placeholder="{%nickname%}" required></div><br></li>
			<li><span>{%password%}:</span><div class="adm_login"><input type="password" name="pwd" maxlength="25" placeholder="{%password%}" required></div><br></li>
			{%captcha%}
		</ul>
	</div>
	<div class="submit"><input type="hidden" name="op" value="check_admin"><input type="submit" value="{%login%}"></div>
</form>
