<div id="block-feedback" class="sl-dropdown">
    <a href="#" data-sl-toggle-control="f-form" data-sl-toggle-effect="slide" data-sl-toggle-duration="500" title="{{ feedback }}" class="sl-btn-feedback"><b class="sl-font">{{ feedback }}</b></a>
    <form id="f-form" class="sl-dropdown-form" action="index.php?name=contact" method="post">
        <ul class="sl-block-feedback-form sl-clrfix">
            <li class="sl-bff-col1">
                {% include 'fragments/textarea.html' with message_field %}
            </li>
            <li class="sl-bff-col2">
                {% include 'fragments/input.html' with name_field %}
                {% include 'fragments/input.html' with email_field %}
                {{{ captcha }}}
                {% include 'fragments/hidden.html' with token_field %}
                {% include 'fragments/hidden.html' with op_field %}
                {% include 'fragments/hidden.html' with send_field %}
                {% include 'fragments/button.html' with submit_button %}
            </li>
        </ul>
    </form>
</div>
