<div class="js-slaed-editor-tpl" hidden>
  <template data-tpl="emoji-panel">
    <div class="sl-editor-emoji-panel sl-none">
      <input type="search" class="sl-editor-emoji-search">
      <div class="sl-editor-emoji-tabs"></div>
      <div class="sl-editor-emoji-grid"></div>
    </div>
  </template>
  <template data-tpl="emoji-tab"><button type="button" class="sl-editor-emoji-tab"></button></template>
  <template data-tpl="emoji-item"><button type="button" class="sl-editor-emoji-item"></button></template>
  <template data-tpl="emoji-empty"><div class="sl-editor-emoji-empty"></div></template>
  <template data-tpl="msg-info"><div class="sl-toastui-message sl-toastui-message-info"></div></template>
  <template data-tpl="msg-warn"><div class="sl-toastui-message sl-toastui-message-warn"></div></template>
  <template data-tpl="file-table"><table class="sl-toastui-file-table"><tbody></tbody></table></template>
  <template data-tpl="file-row">
    <tr>
      <td><img class="sl-toastui-file-thumb js-slaed-file-thumb" alt=""></td>
      <td class="js-slaed-file-name"></td>
      <td class="js-slaed-file-size"></td>
      <td>
        <button type="button" class="toastui-editor-close-button js-slaed-file-image"></button>
        <button type="button" class="toastui-editor-ok-button js-slaed-file-attach"></button>
      </td>
    </tr>
  </template>
</div>
