<ul class="sl-login-top sl-login-top--head">
  <li class="sl-login-dropdown sl-float" data-sl-float-event="click">
    <a href="#" data-sl-toggle-control="a-form" class="sl-login-toggle"><i class="bi bi-box-arrow-in-right" aria-hidden="true"></i><b>{{ login }}</b></a>
    <form id="a-form" action="index.php?name=account" method="post" class="sl-login-dropdown-form sl-float-panel">
      <ul class="sl-login-form">
        <li>
          <input type="{{ name_field.itype }}" name="{{ name_field.name_attr }}" value="{{ name_field.value_attr }}" class="sl-field sl-login-field" maxlength="{{ name_field.maxlength_num }}" placeholder="{{ name_field.placeholder_text }}" autocomplete="username" required>
        </li>
        <li>
          <input type="{{ password_field.itype }}" name="{{ password_field.name_attr }}" value="{{ password_field.value_attr }}" class="sl-field sl-login-field" maxlength="{{ password_field.maxlength_num }}" placeholder="{{ password_field.placeholder_text }}" autocomplete="current-password" required>
        </li>
        {% if captcha %}{{{ captcha }}}{% endif %}
        <li>
          <button type="{{ submit_button.button_type }}" title="{{ submit_button.title }}" class="sl-login-submit">{{ submit_button.label }}</button>
        </li>
        <li class="sl-login-links">
          <a href="{{{ lost_link.href }}}" title="{{ lost_link.title }}" class="sl-login-link sl-login-link-lost">{{ lost_link.label }}</a>
          <a href="{{{ register_link.href }}}" title="{{ register_link.title }}" class="sl-login-link sl-login-link-register">{{ register_link.label }}</a>
        </li>
      </ul>
      {% if token %}<input type="hidden" name="{{ token_field.name_attr }}" value="{{ token_field.value_attr }}">{% endif %}
      <input type="hidden" name="{{ refer_field.name_attr }}" value="{{ refer_field.value_attr }}">
      <input type="hidden" name="{{ op_field.name_attr }}" value="{{ op_field.value_attr }}">
    </form>
  </li>
  <li><a href="{{{ register_link.href }}}" title="{{ register_link.title }}" class="sl-login-link sl-login-link-top sl-login-link-register">{{ register_link.label }}</a></li>
</ul>
