<div class="sl-slider-head">
  <ul id="slider-head">
    <li>
      <div class="sl-slide-cont">
        <h1 class="sl-font sl-slide-title">SLAED CMS</h1>
        <p class="sl-text-justify">Это система управления содержимым сайта, простая в использовании и настройке, имеющая при этом высокий уровень безопасности, высокую скорость работы, а также практически неограниченный потенциал в решении вопроса расширения функциональности. На основе SLAED любой желающий, даже не обладающий большими знаниями, может построить себе не только качественный сайт, но и мощный портал.</p>
        <a class="sl-but-primary" href="index.php?name=faq&amp;cat=38#18" title="Система управления содержимым сайта SLAED CMS"><b>Подробнее</b></a>
      </div>
      <div class="sl-slide-img"><span class="sl-slide-season"></span></div>
    </li>
    <li>
      <div class="sl-slide-cont">
        <h2 class="sl-font sl-slide-title">Простота</h2>
        <p class="sl-text-justify">Интуитивно понятный интерфейс позволяет управлять сайтом так же просто, как работать с документами или почтой. При наличии хотя бы небольшого опыта и знания HTML сможете существенно изменить не только внешний вид, но и саму структуру сайта. Модульное наращивание позволяет инсталлировать на ваш сайт разного рода модули, блоки, темы оформления и разного рода дополнения.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=14" title="Управлять сайтом так же просто, как работать с документами на компьютере" class="sl-but-primary"><b>Подробнее</b></a>
      </div>
      <div class="sl-slide-img"><img src="templates/lite/images/slide/slaed_1.jpg" alt="Управлять сайтом так же просто, как работать с документами на компьютере"></div>
    </li>
    <li>
      <div class="sl-slide-cont">
        <h2 class="sl-font sl-slide-title">Функциональность</h2>
        <p class="sl-text-justify">К дополнению и без того широкого функционала системы существует масса дополнительных модулей, блоков, расширений и тем оформления, которые дополнят систему практически любым функционалом. Файловый архив проекта содержит более 685 дополнений от сторонних разработчиков. Система управления поставляется с открытым исходным кодом, что даёт неограниченные возможности модификации опытным пользователям.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=15" title="Скорей всего, у нас предусмотрены функции, которые нужны Вам" class="sl-but-primary"><b>Подробнее</b></a>
      </div>
      <div class="sl-slide-img"><img src="templates/lite/images/slide/slaed_2.jpg" alt="Скорей всего, у нас предусмотрены функции, которые нужны Вам"></div>
    </li>
    <li>
      <div class="sl-slide-cont">
        <h2 class="sl-font sl-slide-title">Эффективность</h2>
        <p class="sl-text-justify">Система существенно отличается от аналогов низкой потребляемостью серверных ресурсов, что позволяет получить высокую скорость работы системы. Техническая поддержка клиентов и встроенная система «Документация/Справка» по использованию и применению тех или иных модулей непосредственно в панели управления системой помогут найти ответ на любой возникший вопрос.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=16" title="Мы действительно уделяем ей большое внимание" class="sl-but-primary"><b>Подробнее</b></a>
      </div>
      <div class="sl-slide-img"><img src="templates/lite/images/slide/slaed_3.jpg" alt="Мы действительно уделяем ей большое внимание"></div>
    </li>
    <li>
      <div class="sl-slide-cont">
        <h2 class="sl-font sl-slide-title">Безопасность</h2>
        <p class="sl-text-justify">Мощная система безопасности, имеющая гибкие настройки, позволяет логирование всех действий посетителей сайта. Существуют возможности автоматического отслеживания вредоносных запросов, инъекций, попыток внедрений и прочих несанкционированных действий. В любом случае система предупреждений и отражений надёжно предупредит и защитит сайт от всех внешних угроз.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=17" title="Создавайте сайты, надёжно закрытые от злоумышленников" class="sl-but-primary"><b>Подробнее</b></a>
      </div>
      <div class="sl-slide-img"><img src="templates/lite/images/slide/slaed_4.jpg" alt="Создавайте сайты, надёжно закрытые от злоумышленников"></div>
    </li>
  </ul>
</div>
<div class="sl-advantage">
  <div class="sl-wrp">
    <ul class="sl-big-sl-icons">
      <li>
        <b class="sl-b-icon sl-b-i-1"></b>
        <h4 class="sl-font"><a href="index.php?name=content&amp;op=view&amp;id=14" title="Управлять сайтом так же просто, как работать с документами на компьютере">Простота</a></h4>
        <p>Интуитивно понятный интерфейс, простое управление сайтом, лёгкая модификация.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=14" title="Управлять сайтом так же просто, как работать с документами на компьютере" class="sl-but-read">Узнать больше</a>
      </li>
      <li>
        <b class="sl-b-icon sl-b-i-2"></b>
        <h4 class="sl-font"><a href="index.php?name=content&amp;op=view&amp;id=15" title="Скорей всего, у нас предусмотрены функции, которые нужны Вам">Функциональность</a></h4>
        <p>Неограниченные возможности, масса дополнений, расширение любыми функциями.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=15" title="Скорей всего, у нас предусмотрены функции, которые нужны Вам" class="sl-but-read">Узнать больше</a>
      </li>
      <li>
        <b class="sl-b-icon sl-b-i-3"></b>
        <h4 class="sl-font"><a href="index.php?name=content&amp;op=view&amp;id=16" title="Мы действительно уделяем ей большое внимание">Эффективность</a></h4>
        <p>Низкое потребление серверных ресурсов, высокая скорость работы системы.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=16" title="Мы действительно уделяем ей большое внимание" class="sl-but-read">Узнать больше</a>
      </li>
      <li>
        <b class="sl-b-icon sl-b-i-4"></b>
        <h4 class="sl-font"><a href="index.php?name=content&amp;op=view&amp;id=17" title="Создавайте сайты, надёжно закрытые от злоумышленников">Безопасность</a></h4>
        <p>Мощная система безопасности, гибкие настройки, логирование всех действий.</p>
        <a href="index.php?name=content&amp;op=view&amp;id=17" title="Создавайте сайты, надёжно закрытые от злоумышленников" class="sl-but-read">Узнать больше</a>
      </li>
    </ul>
  </div>
</div>
