<div id="topmenu">
  <ul>
    <li><a href="/" class="sl-home-link sl-circle-action" title="{{ home }}"><i class="bi bi-house-door-fill" aria-hidden="true"></i><span class="sl-none">{{ home }}</span></a></li>
    <li>
      <a href="#" title="Продукты">Продукты</a>
      <ul>
        <li><a href="index.php?name=shop" title="Все продукты проекта">Все продукты проекта</a></li>
        <li><a href="index.php?name=shop&amp;op=view&amp;id=6" title="Новая установка системы на хостинг">Новая установка системы на хостинг</a></li>
        <li><a href="index.php?name=shop&amp;op=view&amp;id=24" title="Обновление системы до актуальной версии">Обновление системы до актуальной версии</a></li>
        <li><a href="index.php?name=shop&amp;op=view&amp;id=27" title="Регистрация и продление доменов">Регистрация и продление доменов</a></li>
        <li><a href="index.php?name=shop&amp;op=view&amp;id=25" title="Виртуальный хостинг - Тарифный план Pro">Виртуальный хостинг - Тарифный план Pro</a></li>
        <li><a href="index.php?name=shop&amp;op=view&amp;id=26" title="Виртуальный хостинг - Тарифный план Deluxe">Виртуальный хостинг - Тарифный план Deluxe</a></li>
        <li><a href="index.php?name=content&amp;op=view&amp;id=13" title="Правила и условия использования хостинга">Правила и условия использования хостинга</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Услуги">Услуги</a>
      <ul>
        <li><a href="index.php?name=content&amp;op=view&amp;id=11" title="Услуги по изготовлению, модификации и оптимизации">Создание и модификация</a></li>
        <li><a href="index.php?name=money" title="Банковский перевод денежных средств в WebMoney из Германии">Обмен WebMoney</a></li>
        <li><a href="https://slaed.de" target="_blank" title="Модификация и интеграция тем оформления">Темы и шаблоны</a></li>
        <li><a href="index.php?name=content&amp;op=view&amp;id=1" title="Размещение рекламы на проекте">Реклама на проекте</a></li>
        <li><a href="index.php?name=whois" title="Проверка лицензии и доменного имени">Проверка домена</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Партнерам">Партнерам</a>
      <ul>
        <li><a href="index.php?name=content&amp;op=view&amp;id=24" title="Информация для будущих партнеров">Партнерская программа</a></li>
        <li><a href="index.php?name=content&amp;op=view&amp;id=10" title="Информация о получении сертификата">Получить сертификат</a></li>
        <li><a href="index.php?name=content&amp;op=view&amp;id=25" title="Рекламные материалы">Рекламные материалы</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Поддержка">Поддержка</a>
      <ul>
        <li><a href="index.php?name=faq" title="Вопросы и ответы">Вопросы и ответы</a></li>
        <li><a href="index.php?name=pages" title="Центр документации">Центр документации</a></li>
        <li><a href="index.php?name=forum" title="Общий форум проекта">Общий форум проекта</a></li>
        <li><a href="https://slaed.info" target="_blank" title="Руководство по PHP">Руководство по PHP</a></li>
        <li><a href="index.php?name=help" title="Техническая поддержка клиентов">Техническая поддержка</a></li>
        <li><a href="index.php?name=contact" title="Обратная связь и контактная информация">Обратная связь</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Каталог файлов">Каталог файлов</a>
      <ul>
        <li><a href="index.php?name=files" title="Каталог файлов">Каталог файлов</a></li>
        <li><a href="index.php?name=files&amp;cat=4" title="Дополнительные модули">Модули системы</a></li>
        <li><a href="index.php?name=files&amp;cat=5" title="Дополнительные блоки">Блоки системы</a></li>
        <li><a href="index.php?name=files&amp;cat=6" title="Темы оформления и графические элементы">Темы оформления</a></li>
        <li><a href="index.php?name=files&amp;cat=12" title="Файлы и скрипты для системы">Файлы и скрипты</a></li>
        <li><a href="index.php?name=files&amp;cat=10" title="Языковые файлы для системы">Языковые файлы</a></li>
        <li><a href="index.php?name=files&amp;cat=9" title="Документация, учебники и инструкции">Учебники и инструкции</a></li>
        <li><a href="index.php?name=files&amp;cat=8" title="Полезные скрипты для вебмастера">Полезные скрипты</a></li>
        <li><a href="index.php?name=files&amp;cat=7" title="Полезные программы для вебмастера">Полезные программы</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Новости">Новости</a>
      <ul>
        <li><a href="index.php?name=news" title="Все новости проекта">Все новости</a></li>
        <li><a href="index.php?name=news&amp;cat=2" title="Новости проекта">Наши новости</a></li>
        <li><a href="index.php?name=news&amp;cat=1" title="Мир интернета">Интернет</a></li>
        <li><a href="index.php?name=news&amp;cat=3" title="Компьютерный мир">Программы</a></li>
      </ul>
    </li>
    <li>
      <a href="#" title="Компания">Компания</a>
      <ul>
        <li><a href="index.php?name=contact" title="Контактная информация">Контактные данные</a></li>
        <li><a href="index.php?name=main" title="Презентационная страница системы">Презентационная страница</a></li>
        <li><a href="index.php?name=faq&amp;op=view&amp;id=20" title="История развития системы">История развития системы</a></li>
        <li><a href="index.php?name=content&amp;op=view&amp;id=8" title="Официальная регистрация фирмы SLAED в Германии">Официальная регистрация</a></li>
        <li><a href="index.php?name=content&amp;op=view&amp;id=7" title="Официальный патент на бренд SLAED в Германии">Официальный патент</a></li>
        <li><a href="index.php?name=recommend" title="Рекомендовать наш сайт"><i class="bi bi-chat-heart-fill" aria-hidden="true"></i>&nbsp;Рекомендовать наш сайт</a></li>
        <li><a href="index.php?name=links" title="Каталог сайтов системы">Каталог сайтов системы</a></li>
        <li><a href="index.php?name=users" title="Tоп пользователи проекта">Tоп пользователи проекта</a></li>
        <li><a href="index.php?name=voting" title="Опросы нашего проекта">Опросы нашего проекта</a></li>
        <li><a href="index.php?name=content&amp;op=view&amp;id=2" title="Общие правила проекта">Общие правила проекта</a></li>
      </ul>
    </li>
  </ul>
</div>
