{% if dial %}
<span class="sl-dial">
  <button class="sl-dial-toggle sl-but-mini" type="button" title="{{ dial_title }}"><i class="bi bi-three-dots"></i></button>
  {% for item in dial %}{% if item.hidden %}<button class="sl-dial-item sl-but-mini" type="submit" form="{{ item.form_id }}" title="{{ item.title }}" {% if item.confirm_text %}data-sl-confirm="{{ item.confirm_text }}"{% endif %} {% if item.run %}data-sl-fm-run="{{ item.run }}"{% endif %}><i class="bi bi-{{ item.icon_name }}"></i></button>{% else %}<a class="sl-dial-item sl-but-mini" href="{{ item.href }}" title="{{ item.title }}" {% if item.confirm_text %}data-sl-confirm="{{ item.confirm_text }}"{% endif %} {% if item.run %}data-sl-fm-run="{{ item.run }}"{% endif %} {% if item.act %}data-sl-fm-act="{{ item.act }}" data-sl-fm-file="{{ item.file }}" data-sl-fm-arg="{{ item.arg }}"{% endif %} {% if item.link_attr %}{{{ item.link_attr }}}{% endif %} {% if item.onclick_attr %}{{{ item.onclick_attr }}}{% endif %}><i class="bi bi-{{ item.icon_name }}"></i></a>{% endif %}{% endfor %}
</span>
{% for item in dial %}{% if item.hidden %}<form class="sl-dial-post" id="{{ item.form_id }}" action="{{ item.href }}" method="post">{{{ item.hidden }}}</form>{% endif %}{% endfor %}
{% endif %}
