{% if href %}
  <a
    href="{{ href }}"
    title="{{ title }}"
    class="sl-pnum{% if is_nav %} sl-pnum-nav{% endif %}"
  >{{ label }}</a>
{% elseif query %}
  <a
    href="{{ query }}"
    title="{{ title }}"
    class="sl-pnum{% if is_nav %} sl-pnum-nav{% endif %}"
    hx-get="{{ query }}"
    hx-target="#{{ target_id }}"
    hx-swap="innerHTML"
    hx-push-url="{% if push_url %}{{ push_url }}{% else %}false{% endif %}"
  >{{ label }}</a>
{% else %}
  <span
    title="{{ title }}"
    class="sl-pnum{% if is_cur %} sl-pnum-cur{% endif %}{% if is_nav %} sl-pnum-nav{% endif %}"
  >{{ label }}</span>
{% endif %}
