<form action="index.php?name={%name%}" method="post">
<table class="sl_table_form">
<tr><td>{%lbl_nickname%}:</td><td><input type="text" name="{%nick_field%}" value="{%nick_value%}" maxlength="25" class="sl_field {%style%}" placeholder="{%lbl_nickname%}" required></td></tr>
<tr><td>{%lbl_email%}:</td><td><input type="email" name="mail" value="{%mail_value%}" maxlength="255" class="sl_field {%style%}" placeholder="{%lbl_email%}" required></td></tr>
<tr><td>{%password_tip%}{%lbl_password%}:</td><td><input type="password" name="user_password" maxlength="25" class="sl_field {%style%}" placeholder="{%lbl_password%}"></td></tr>
<tr><td>{%password_tip%}{%lbl_password2%}:</td><td><input type="password" name="user_password2" maxlength="25" class="sl_field {%style%}" placeholder="{%lbl_password2%}"></td></tr>
{%if rules_enabled%}<tr><td>{%lbl_rules%}:</td><td><textarea cols="50" rows="10" class="sl_field {%style%}">{%rules_text%}</textarea></td></tr><tr><td>{%lbl_rules_ok%}</td><td><input type="checkbox" name="rules" value="1" class="sl_field {%style%}" required></td></tr>{%endif%}
<tr><td colspan="2" class="sl_center">{%captcha%}<input type="hidden" name="token" value="{%token%}"><input type="hidden" name="op" value="finnewuser"><input type="submit" value="{%submit_label%}" class="sl_but_blue"></td></tr>
<tr><td colspan="2" class="sl_center"><a href="{%login_href%}" title="{%login_label%}" class="sl_but_foot">{%login_label%}</a><a href="{%passlost_href%}" title="{%passlost_label%}" class="sl_but_foot">{%passlost_label%}</a></td></tr>
{%if network_enabled%}<tr><td colspan="2" class="sl_center">{%network_label%}</td></tr><tr><td colspan="2" class="sl_center">{%network_html%}</td></tr>{%endif%}
</table></form>
