<article id="{%id%}" class="post fullview">
	<h3 class="title">{%favorites%} {%title%}</h3>
	<div class="meta">
		<ul class="pull-right">
			<li>{%hits%}</li>
			<li>{%if reads%}<span title="{%reads_label%}" class="sl_views">{%reads%}</span>{%endif%}</li>
			<li>{%if post%}<span title="{%post_label%}" class="sl_post">{%post%}</span>{%endif%}</li>
			<li><a href="#{%id%}" title="{%id%}" class="sl_pnum">{%id%}</a></li>
		</ul>
		<ul>
			<li>{%if date%}<time datetime="{%date_iso%}" title="{%date_label%}" class="sl_date">{%date%}</time>{%endif%}</li>
			<li>{%ctitle%}</li>
		</ul>
	</div>
	<div class="entry-content">{%cimg%} {%text%}</div>
	<div class="more-info">
		<div class="more-col">
			<ul>
				{%if has_size%}<li>{%size%}</li>
				{%endif%}<li>{%email%}</li>
			</ul>
			<ul>
				{%if has_version%}<li>{%version%}</li>
				{%endif%}<li>{%home%}</li>
			</ul>
		</div>
	</div>
	<div class="meta-foot">
		<div class="rate-like-box pull-right">{%rating%}</div>
		{%goback%}{%admin%}{%download%}{%broken%}
	</div>
</article>
