<article id="{%id%}" class="post fullview">
	<h3 class="title">{%favorites%} {%title%}</h3>
	<div class="meta">
		<ul class="pull-right">
			<li>{%hits%}</li>
			<li>{%reads%}</li>
			<li>{%post%}</li>
			<li><a href="#{%id%}" title="{%id%}" class="sl_pnum">{%id%}</a></li>
		</ul>
		<ul>
			<li>{%date%}</li>
			<li>{%ctitle%}</li>
		</ul>
	</div>
	<div class="entry-content">{%cimg%} {%text%}</div>
	<div class="more-info">
		<div class="more-col">
			<ul>
				<li>{%email%}</li>
			</ul>
			<ul>
				<li>{%home%}</li>
			</ul>
		</div>
	</div>
	<div class="meta-foot">
		<div class="rate-like-box pull-right">{%rating%}</div>
		{%goback%}{%admin%}{%download%}{%broken%}
	</div>
</article>