<article id="{%id%}" class="post">
	<h3 class="title">{%favorites%} {%title%}</h3>
	<div class="meta">
		<ul class="pull-right">
			<li>{%comm%}</li>
			<li>{%hits%}</li>
			<li>{%reads%}</li>
			<li>{%post%}</li>
			<li><a href="#{%id%}" title="{%id%}" class="sl_pnum">{%id%}</a></li>
		</ul>
		<ul>
			<li>{%date%}</li>
			<li>{%ctitle%}</li>
		</ul>
	</div>
	<div class="entry-content">{%voting%} {%cimg%} {%text%}</div>
	<div class="meta-foot">
		<div class="rate-box pull-right">{%rating%}</div>
		{%goback%}{%admin%}{%read%}
	</div>
</article>