<form action="index.php?name={%name%}" method="post" name="post" enctype="multipart/form-data">
<table class="sl_table_form">
<tr><td>{%lbl_ip%}:</td><td>{%ip_value%}</td></tr>
<tr><td>{%lbl_reg%}:</td><td>{%reg_value%}</td></tr>
{%if has_points%}<tr><td>{%lbl_points%}:</td><td>{%points_value%}</td></tr>{%endif%}
<tr><td>{%lbl_name%}:</td><td>{%name_value%}</td></tr>
<tr><td>{%lbl_birthday%}:</td><td>{%birthday_html%}</td></tr>
<tr><td>{%lbl_gender%}:</td><td>{%gender_html%}</td></tr>
<tr><td>{%lbl_email%}:</td><td><input type="email" name="mail" value="{%mail_value%}" maxlength="60" class="sl_field {%style%}" placeholder="{%lbl_email%}" required></td></tr>
<tr><td>{%lbl_site%}:</td><td><input type="url" name="site" value="{%site_value%}" maxlength="100" class="sl_field {%style%}" placeholder="{%lbl_site%}"></td></tr>
<tr><td>{%lbl_occ%}:</td><td><input type="text" name="occ" value="{%occ_value%}" maxlength="100" class="sl_field {%style%}" placeholder="{%lbl_occ%}"></td></tr>
<tr><td>{%lbl_from%}:</td><td><input type="text" name="from" value="{%from_value%}" maxlength="100" class="sl_field {%style%}" placeholder="{%lbl_from%}"></td></tr>
<tr><td>{%lbl_inter%}:</td><td><input type="text" name="inter" value="{%inter_value%}" maxlength="150" class="sl_field {%style%}" placeholder="{%lbl_inter%}"></td></tr>
<tr><td>{%lbl_sig%}:<div class="sl_small">{%sig_info%}</div></td><td>{%sig_html%}</td></tr>
{%fields_html%}
{%if has_story_select%}<tr><td>{%lbl_story%}:</td><td><select name="story" class="sl_field {%style%}">{%story_options%}</select></td></tr>{%else%}<input type="hidden" name="story" value="{%story_hidden%}">{%endif%}
<tr><td>{%lbl_news%}</td><td>{%news_html%}</td></tr>
{%if has_forum_mail%}<tr><td>{%lbl_fsmail%}</td><td>{%fsmail_html%}</td></tr>{%endif%}
{%if has_privat_mail%}<tr><td>{%lbl_psmail%}</td><td>{%psmail_html%}</td></tr>{%endif%}
<tr><td>{%lbl_view%}</td><td>{%view_html%}</td></tr>
<tr><td>{%lbl_blockon%}</td><td>{%blockon_html%}</td></tr>
<tr><td>{%lbl_block%}:<div class="sl_small">{%block_info%}</div></td><td>{%block_html%}</td></tr>
{%if has_theme_select%}<tr><td>{%lbl_theme%}:</td><td><select name="theme" class="sl_field {%style%}">{%theme_options%}</select></td></tr>{%endif%}
<tr><td colspan="2" class="sl_center"><input type="hidden" name="token" value="{%token%}"><input type="hidden" name="user_name" value="{%name_value%}"><input type="hidden" name="op" value="savehome"><input type="submit" value="{%submit_label%}" class="sl_but_blue"></td></tr>
</table></form>
