<tr id="{%id%}" class="forum-line">
	<td class="fl-col-num"><a href="#{%id%}" title="{%id%}" class="sl_pnum">{%id%}</a></td>
	<td class="fl-col-content"><h4><a href="{%title_href%}" title="{%title_attr%}">{%title_text%}</a>{%if title_new%} {%title_new%}{%endif%}</h4></td>
	<td class="fl-col-content"><h4>{%if category_href%}<a href="{%category_href%}" title="{%category_attr%}">{%category_text%}</a>{%else%}{%category_text%}{%endif%}</h4></td>
	<td class="fl-col-stat">{%post_text%}</td>
	<td class="fl-col-stat"><time datetime="{%time_iso%}" title="{%time_label%}" class="sl_date">{%time_text%}</time></td>
</tr>
