<!doctype html>
<html lang="{{ lang }}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{{ meta }}}
{{{ links }}}
{{{ scripts }}}
</head>
<body>
    <div class="wrapper slaenter sl-admin-shell sl-admin-login-shell">
        <div class="wraptop"></div>
        <div class="wrapmid">
            <div class="header sl-admin-header sl-admin-login-header">
                <div class="sl-admin-brand"><h1><a href="//slaed.net" target="_blank" class="thide" title="SLAED CMS">SLAED CMS</a></h1></div>
                <div class="sl-admin-toolbar"><b title="{{ login }}">{{ login }}</b></div>
            </div>
            <div class="entercont">{% block content %}{% endblock %}</div>
            <div class="footer sl-admin-footer"><div class="copyright">{{{ license }}}</div></div>
        </div>
        <div class="wrapfoot"></div>
    </div>
</body>
</html>
