<!doctype html>
<html lang="{{ lang }}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{{ meta }}}
{{{ links }}}
{{{ scripts }}}
</head>
<body>
    <div class="wrapper slaenter">
        <div class="wraptop"></div>
        <div class="wrapmid">
            <div class="header">
                <div class="lcolomn leftside"><h1><a href="//slaed.net" target="_blank" class="thide" title="SLAED CMS">SLAED CMS</a></h1></div>
                <div class="rcolomn midside"><b title="{{ login }}">{{ login }}</b></div>
            </div>
            <div class="entercont">{% block content %}{% endblock %}</div>
            <div class="footer"><div class="copyright">{{{ license }}}</div></div>
        </div>
        <div class="wrapfoot"></div>
    </div>
</body>
</html>
