<!doctype html>
<html lang="{{ lang }}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{{ meta }}}
{{{ links }}}
{{{ scripts }}}
</head>
<body>
    <div class="sl-admin-shell sl-admin-login-shell">
        <div class="sl-admin-login-top"></div>
        <div class="sl-admin-login-card">
            <div class="sl-admin-login-header">
                <div class="sl-admin-brand"><h1><a href="//slaed.net" target="_blank" class="thide" title="SLAED CMS">SLAED CMS</a></h1></div>
            </div>
            <div class="sl-admin-login-content">{% block content %}{% endblock %}</div>
            <div class="sl-admin-login-footer"><div class="sl-admin-login-copyright">{{{ license }}}</div></div>
        </div>
        <div class="sl-admin-login-bottom"></div>
    </div>
</body>
</html>
