<?php
# Author: Eduard Laas
# Copyright © 2005 - 2025 SLAED
# License: GNU GPL 3
# Website: slaed.net

if (!defined('FUNC_FILE')) die('Illegal file access');

$conflog = array (
  'export_enabled' => '0',
  'github_owner' => 'SLAED-CMS',
  'github_repo' => 'SLAED-CMS-6.3-Pro',
  'github_token' => getenv('GITHUB_TOKEN') ?: '',
  'group_by_date' => '1',
  'limit' => '500',
  'per_page' => '50',
  'show_files' => '1',
  'show_stats' => '1',
  'source' => 'local',
);
