<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    {{{ meta }}}
    {{{ links }}}
    {{{ scripts }}}
</head>
<body{% if season %} class="{{ season }}"{% endif %}>
    <div id="topbar">
        <div class="wrp">
            <ul class="top_contact"><li class="head_marquee">{% if faqtitle %}{{{ faqtitle }}}{% endif %}</li></ul>
            <div class="top_social">
                <a class="thd i_yt" rel="nofollow" target="_blank" href="//youtu.be/zw8_KjhTW-g" title="Мы в YouTube">Мы в YouTube</a>
                <a class="thd i_tw" rel="nofollow" target="_blank" href="//twitter.com/slaed_cms" title="Мы в Twitter">Мы в Twitter</a>
                <a class="thd i_vk" rel="nofollow" target="_blank" href="//vk.com/slaed_cms" title="Мы вКонтакте">Мы вКонтакте</a>
                <a class="thd i_rss" rel="nofollow" target="_blank" href="index.php?go=rss&amp;name=news&amp;num=50" title="Читайте нашу RSS">Читайте нашу RSS</a>
            </div>
            <ul class="top_links">
                <li><a class="ico i_recom" href="index.php?name=recommend" title="{{ recommend }}">{{ recommend }}</a></li>
                <li><a class="ico i_fav" href="{{ homeurl }}" rel="sidebar" onclick="Bookmark('{{ sitename }}', '{{ homeurl }}');" title="{{ sitename }}">{{ favorites }}</a></li>
            </ul>
        </div>
    </div>
    <header id="header">
        <div class="wrp clrfix">
            <a href="/" class="thd logo" title="{{ sitename }}">{{ sitename }}</a>
            <p class="font slogan">{% if slogan %}{{ slogan }}{% else %}Все великое<br>просто{% endif %}</p>
            {{{ login }}}
            <ul class="d_pane">
                <li class="d_info">Aктуальная<br>версия</li>
                <li class="d_num font">6.2</li>
                <li class="d_btns">
                    <a class="sl_but" href="index.php?name=files&amp;op=view&amp;id=1529" title="Скачать бесплатно актуальную версию системы"><b>Скачать систему</b></a>
                    <a class="sl_but_blue" href="index.php?name=files&amp;op=view&amp;id=1461" title="Скачать демо версию системы"><b>Демо</b></a>
                </li>
            </ul>
        </div>
    </header>
    <div id="hmenu">
        <div class="wrp clrfix">
            {% include 'partials/menu.html' %}
            <form id="qSearch" action="index.php?name=search" method="post">
                <input type="hidden" value="{{ modul }}" name="mod">
                <input type="text" value="" name="word" maxlength="100" placeholder="{{ search }}" required>
                <button type="submit" class="thd" value="{{ search }}">{{ search }}</button>
            </form>
        </div>
    </div>
    {% if head_html %}
    <div id="head-content">
        <div class="wrp">{{{ head_html }}}</div>
    </div>
    {% endif %}
    <div class="wrp">
        <div id="container" class="clrfix">
            {% if blocks_left %}
            <aside id="leftbar">{{{ blocks_left }}}</aside>
            {% endif %}
            <section id="content">
                {% block content %}{{{ content }}}{% endblock %}
                {% if blocks_down %}{{{ blocks_down }}}{% endif %}
            </section>
            {% if blocks_right %}
            <aside id="sidebar">{{{ blocks_right }}}</aside>
            {% endif %}
        </div>
    </div>
    <div id="demo-line">
        <div class="wrp">
            <b class="font demo-line-title">Хотите опробовать SLAED CMS в действии?</b>
            <ul class="d_pane">
                <li class="d_info">Aктуальная<br>версия</li>
                <li class="d_num font">6.2</li>
                <li class="d_btns">
                    <a class="sl_but" href="index.php?name=files&amp;op=view&amp;id=1529" title="Скачать бесплатно актуальную версию системы"><b>Скачать систему</b></a>
                    <a class="sl_but_blue" href="index.php?name=files&amp;op=view&amp;id=1461" title="Скачать демо версию системы"><b>Демо</b></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footbox">
        <div class="wrp grid_1_4">
            <footer class="grid">{{{ foot_html }}}</footer>
            {% if forumblock %}{{{ forumblock }}}{% endif %}
            <div class="grid">
                <p class="font f_title">Технологии</p>
                <div class="partners">
                    <a href="index.php?name=content&amp;op=view&amp;id=20" title="SLAED CMS написана на языке PHP"><img src="templates/{{ theme }}/images/tmp/php.png" alt="PHP"></a>
                    <a href="index.php?name=content&amp;op=view&amp;id=21" title="SLAED CMS на СУБД MySQL"><img src="templates/{{ theme }}/images/tmp/mysql.png" alt="MySQL"></a>
                    <a href="index.php?name=content&amp;op=view&amp;id=18" title="Полная поддержка HTML5 в SLAED CMS"><img src="templates/{{ theme }}/images/tmp/html5.png" alt="HTML 5"></a>
                    <a href="index.php?name=content&amp;op=view&amp;id=19" title="Полная поддержка CSS3 в SLAED CMS"><img src="templates/{{ theme }}/images/tmp/css3.png" alt="CSS 3"></a>
                </div>
            </div>
            <div class="grid">
                <p class="font f_title">Контакты</p>
                <ul class="block_contact">
                    <li class="ico i_geo">D-49179, Deutschland<br>Ostercappeln, Im Siek 6</li>
                    <li class="ico i_phone">+49 176 61966679</li>
                    <li class="ico i_geo"><script>"mysi".AddMail('support', 'slaed.net');</script><noscript>support<!-- slaed --><span>&#64;</span><!-- slaed -->slaed.net</noscript><br><a href="//slaed.net" title="{{ sitename }}">https://slaed.net</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="foot-menu">
        <div class="wrp clrfix">
            <nav class="fmenu">
                <a class="pull-right" href="index.php?name=content&amp;op=view&amp;id=1" title="Размещение рекламы на проекте">По вопросам рекламы</a>
                <ul>
                    <li><a href="index.php" title="{{ home }}">{{ home }}</a></li>
                    <li><a href="index.php?name=content&amp;op=view&amp;id=11" title="Платные услуги проекта">Услуги</a></li>
                    <li><a href="index.php?name=news" title="Новости">Новости</a></li>
                    <li><a href="index.php?name=files" title="Каталог файлов">Файлы</a></li>
                    <li><a href="index.php?name=faq" title="Вопросы и ответы">Вопросы и ответы</a></li>
                    <li><a href="index.php?name=pages" title="Центр документации">Документация</a></li>
                    <li><a href="index.php?name=main" title="Презентационная страница системы">Портфолио</a></li>
                    <li><a href="index.php?name=sitemap" title="Карта сайта">Карта сайта</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="block-idea"><a href="index.php?name=forum&amp;cat=95" title="Идеи и предложения для разработки" class="btn-idea"><b class="font">Идеи и предложения</b></a></div>
    {% if contactblock %}{{{ contactblock }}}{% endif %}
</body>
</html>
