<!doctype html>
<html lang="{{ lang }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  {{{ meta }}}
  {{{ links }}}
  {{{ scripts }}}
</head>
<body{% if season %} class="{{ season }}"{% endif %}>
  <div id="topbar">
    <div class="sl-wrp">
      <ul class="sl-top-contact"><li class="sl-head-marquee">{% if faqtitle %}{{{ faqtitle }}}{% endif %}</li></ul>
      <div class="sl-top-right">
        <div class="sl-top-social">
          <a class="sl-thd sl-circle-action sl-i-gh" rel="me noopener" target="_blank" href="https://github.com/SLAED-CMS/SLAED-CMS-6.3" title="Мы в GitHub" aria-label="Мы в GitHub"><i class="bi bi-github" aria-hidden="true"></i>Мы в GitHub</a>
          <a class="sl-thd sl-circle-action sl-i-yt" rel="me noopener" target="_blank" href="https://www.youtube.com/@SLAED-CMS" title="Мы в YouTube" aria-label="Мы в YouTube"><i class="bi bi-youtube" aria-hidden="true"></i>Мы в YouTube</a>
          <a class="sl-thd sl-circle-action sl-i-tw" rel="me noopener" target="_blank" href="https://x.com/slaed_cms" title="Мы в X" aria-label="Мы в X"><i class="bi bi-twitter-x" aria-hidden="true"></i>Мы в X</a>
          <a class="sl-thd sl-circle-action sl-i-vk" rel="me noopener" target="_blank" href="https://vk.com/slaed_cms" title="Мы вКонтакте" aria-label="Мы вКонтакте"><i class="bi bi-chat-square-text" aria-hidden="true"></i>Мы вКонтакте</a>
          <a class="sl-thd sl-circle-action sl-i-rss" rel="alternate" type="application/rss+xml" href="index.php?go=rss&amp;name=news&amp;num=50" title="Читайте нашу RSS" aria-label="Читайте нашу RSS"><i class="bi bi-rss" aria-hidden="true"></i>Читайте нашу RSS</a>
          <a class="sl-thd sl-circle-action sl-i-doc-de" rel="me noopener" target="_blank" href="https://slaed.de" title="Документация на немецком" aria-label="Документация на немецком"><i class="bi bi-book-half" aria-hidden="true"></i>Документация на немецком</a>
          <a class="sl-thd sl-circle-action sl-i-doc-en" rel="me noopener" target="_blank" href="https://slaed.info" title="Документация на английском" aria-label="Документация на английском"><i class="bi bi-book" aria-hidden="true"></i>Документация на английском</a>
          <a class="sl-thd sl-circle-action sl-i-recom" href="index.php?name=recommend" title="{{ recommend }}" aria-label="{{ recommend }}"><i class="bi bi-star" aria-hidden="true"></i>{{ recommend }}</a>
        </div>
      </div>
    </div>
  </div>
  <header id="header">
    <div class="sl-wrp sl-clrfix">
      <a href="/" class="sl-thd sl-logo" title="{% if slogan %}{{ sitename }} - {{ slogan }}{% else %}{{ sitename }}{% endif %}">
        <img src="templates/{{ theme }}/images/logos/{{ logo }}" alt="{% if slogan %}{{ sitename }} - {{ slogan }}{% else %}{{ sitename }}{% endif %}" title="{% if slogan %}{{ sitename }} - {{ slogan }}{% else %}{{ sitename }}{% endif %}">
      </a>
      <p class="sl-font sl-slogan">Все великое<br>просто</p>
      {{{ login }}}
      <ul class="sl-d-pane">
        <li class="sl-d-info">Aктуальная<br>версия</li>
        <li class="sl-d-num sl-font">6.2</li>
        <li class="sl-d-btns">
          <a class="sl-but-neutral" href="index.php?name=files&amp;op=view&amp;id=1529" title="Скачать бесплатно актуальную версию системы"><b>Скачать систему</b></a>
          <a class="sl-but-primary" href="index.php?name=files&amp;op=view&amp;id=1461" title="Скачать демо версию системы"><b>Демо</b></a>
        </li>
      </ul>
    </div>
  </header>
  <nav id="hmenu" aria-label="Главное меню">
    <div class="sl-wrp sl-clrfix">
      {% include 'partials/menu.html' %}
      <form class="sl-search-form" role="search" action="index.php?name=search" method="post">
        <input type="hidden" value="{{ modul }}" name="mod">
        <input type="text" value="" name="word" maxlength="100" placeholder="{{ search }}" required>
        <button type="submit" class="sl-search-btn sl-circle-action" aria-label="{{ search }}" title="{{ search }}"><i class="bi bi-search" aria-hidden="true"></i></button>
      </form>
    </div>
  </nav>
  {% if head_html %}
  <div id="head-content">
    <div class="sl-wrp">{{{ head_html }}}</div>
  </div>
  {% endif %}
  <div class="sl-wrp">
    <div id="container" class="sl-clrfix">
      {% if blocks_left %}
      <aside id="leftbar">{{{ blocks_left }}}</aside>
      {% endif %}
      <section id="content">
        {% block content %}{{{ content }}}{% endblock %}
        {% if blocks_down %}{{{ blocks_down }}}{% endif %}
      </section>
      {% if blocks_right %}
      <aside id="sidebar">{{{ blocks_right }}}</aside>
      {% endif %}
    </div>
  </div>
  <section id="demo-line" aria-label="Хотите опробовать SLAED CMS в действии?">
    <div class="sl-wrp">
      <h2 class="sl-font sl-demo-line-title">Хотите опробовать SLAED CMS в действии?</h2>
      <ul class="sl-d-pane">
        <li class="sl-d-info">Aктуальная<br>версия</li>
        <li class="sl-d-num sl-font">6.2</li>
        <li class="sl-d-btns">
          <a class="sl-but-neutral" href="index.php?name=files&amp;op=view&amp;id=1529" title="Скачать бесплатно актуальную версию системы"><b>Скачать систему</b></a>
          <a class="sl-but-primary" href="index.php?name=files&amp;op=view&amp;id=1461" title="Скачать демо версию системы"><b>Демо</b></a>
        </li>
      </ul>
    </div>
  </section>
  <footer id="footbox">
    <div class="sl-wrp sl-grid-1-4">
      <section class="sl-grid" aria-label="SLAED CMS">
        <a href="index.php?name=content&amp;op=view&amp;id=1" class="sl-upper-wordmark" title="{{ sitename }} - {% if slogan %}{{ slogan }}{% else %}Все великое просто{% endif %}">
          <img class="sl-upper-wordmark-img" src="templates/{{ theme }}/images/logos/slaed-logo-wordmark-outline-blue.svg" alt="{% if slogan %}{{ sitename }} - {{ slogan }}{% else %}{{ sitename }}{% endif %}" title="{% if slogan %}{{ sitename }} - {{ slogan }}{% else %}{{ sitename }}{% endif %}">
          <span class="sl-upper-tagline sl-font">Все великое просто</span>
        </a>
        {{{ foot_html }}}
        <a class="sl-thd sl-madein sl-madein-brand" href="index.php?name=content&amp;op=view&amp;id=7" title="Официальный патент на бренд SLAED в Германии">
          <img src="templates/{{ theme }}/images/flags/de.svg" alt="Официальная регистрация бренда SLAED в Германии">
          <span class="sl-madein-label sl-font">Made<br>in<br>Germany</span>
        </a>
      </section>
      {% if forumblock %}{{{ forumblock }}}{% endif %}
      <section class="sl-grid" aria-label="Технологии">
        <h2 class="sl-font sl-f-title">Технологии</h2>
        <div class="sl-partners">
          <a href="index.php?name=content&amp;op=view&amp;id=20" title="SLAED CMS написана на языке PHP"><img src="templates/{{ theme }}/images/tmp/php.png" alt="PHP"></a>
          <a href="index.php?name=content&amp;op=view&amp;id=21" title="SLAED CMS на СУБД MySQL"><img src="templates/{{ theme }}/images/tmp/mysql.png" alt="MySQL"></a>
          <a href="index.php?name=content&amp;op=view&amp;id=18" title="Полная поддержка HTML5 в SLAED CMS"><img src="templates/{{ theme }}/images/tmp/html5.png" alt="HTML 5"></a>
          <a href="index.php?name=content&amp;op=view&amp;id=19" title="Полная поддержка CSS3 в SLAED CMS"><img src="templates/{{ theme }}/images/tmp/css3.png" alt="CSS 3"></a>
          <a href="index.php?name=content&amp;op=view&amp;id=22" title="SLAED CMS использует JavaScript Framework jQuery"><img src="templates/{{ theme }}/images/tmp/jquery.png" alt="jQuery"></a>
          <a href="index.php?name=content&amp;op=view&amp;id=23" title="SLAED CMS использует JavaScript библиотеку jQuery UI"><img src="templates/{{ theme }}/images/tmp/jqueryui.png" alt="jQuery UI"></a>
        </div>
      </section>
      <section class="sl-grid" aria-label="Контакты">
        <h2 class="sl-font sl-f-title">Контакты</h2>
        <address>
          <ul class="sl-block-contact">
            <li><i class="bi bi-geo-alt sl-contact-icon" aria-hidden="true"></i>D-49179, Deutschland<br>Ostercappeln, Im Siek 6</li>
            <li><i class="bi bi-telephone sl-contact-icon" aria-hidden="true"></i>+49 176 61966679</li>
            <li><i class="bi bi-envelope sl-contact-icon" aria-hidden="true"></i><a href="mailto:support@slaed.net">support@slaed.net</a></li>
            <li><i class="bi bi-globe sl-contact-icon" aria-hidden="true"></i><a href="https://slaed.net" title="{{ sitename }}">https://slaed.net</a></li>
          </ul>
        </address>
      </section>
    </div>
    <div class="sl-wrp sl-clrfix">
      <nav class="sl-fmenu" aria-label="Нижнее меню">
        <a class="sl-pull-right" href="index.php?name=content&amp;op=view&amp;id=1" title="Размещение рекламы на проекте">По вопросам рекламы</a>
        <ul>
          <li><a href="index.php" title="{{ home }}">{{ home }}</a></li>
          <li><a href="index.php?name=content&amp;op=view&amp;id=11" title="Платные услуги проекта">Услуги</a></li>
          <li><a href="index.php?name=news" title="Новости">Новости</a></li>
          <li><a href="index.php?name=files" title="Каталог файлов">Файлы</a></li>
          <li><a href="index.php?name=faq" title="Вопросы и ответы">Вопросы и ответы</a></li>
          <li><a href="index.php?name=pages" title="Центр документации">Документация</a></li>
          <li><a href="index.php?name=main" title="Презентационная страница системы">Портфолио</a></li>
          <li><a href="index.php?name=sitemap" title="Карта сайта">Карта сайта</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <div id="block-idea"><a href="index.php?name=forum&amp;cat=95" title="Идеи и предложения для разработки" class="sl-btn-idea"><b class="sl-font">Идеи и предложения</b></a></div>
  <div id="block-feedback"><a href="index.php?name=contact" title="{{ _FEEDBACK }}" class="sl-btn-feedback"><b class="sl-font">{{ _FEEDBACK }}</b></a></div>
  {% if debug_html %}
  <div class="sl-advantage">
    <div class="sl-wrp sl-clrfix">
      {{{ debug_html }}}
    </div>
  </div>
  {% endif %}
</body>
</html>
