<!doctype html>
<html lang="{{ lang }}" data-theme="{{ mode }}">
<head>
  <title>{% block title %}{% if title %}{{ title }}{% else %}{{ sitename }}{% endif %}{% endblock %}</title>
  {{{ meta }}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{{ links }}}
</head>
<body>
  {% if login %}
  <div>
    <div></div>
    <div>
      <div>
        <div><h1><a href="//slaed.net" target="_blank" class="sl-none" title="SLAED CMS">SLAED CMS</a></h1></div>
        <div><b title="{{ login }}">{{ login }}</b></div>
      </div>
      <div>
  {% endif %}
  {% block content %}{% endblock %}
  {% if login %}
      </div>
      <div><div class="sl-copyright">{{{ license }}}</div></div>
    </div>
    <div></div>
  </div>
  {% endif %}
  {{{ scripts }}}
</body>
</html>
