{% include 'partials/site-header.html' %}
  <div class="sl-wrp">
    <div id="container">
      {% if blocks_left %}
      <aside id="leftbar">{{{ blocks_left }}}</aside>
      {% endif %}
      <main id="content">
        <h1 class="sl-title">{{ sitename }}</h1>
        {% block content %}{{{ content }}}{% endblock %}
      </main>
      {% if blocks_right %}
      <aside id="sidebar">{{{ blocks_right }}}</aside>
      {% endif %}
    </div>
  </div>
  {% if blocks_down %}{{{ blocks_down }}}{% endif %}
{% include 'partials/site-footer.html' %}
