<form action="index.php?name=account" method="post" class="sl-block-login">
  <label class="sl-user-field"><i class="bi bi-person" aria-hidden="true"></i><span class="sl-visually-hidden">{{ nickname_label }}</span>{{{ name_input }}}</label>
  <label class="sl-user-field"><i class="bi bi-lock" aria-hidden="true"></i><span class="sl-visually-hidden">{{ password_label }}</span><input type="password" name="user_password" maxlength="25" class="sl-field sl-field--block" placeholder="{{ password_label }}" autocomplete="current-password" required></label>
  {% if captcha_html %}<div class="sl-user-captcha">{{{ captcha_html }}}</div>{% endif %}
  {{{ hidden_inputs }}}
  {% if oauth_html %}{{{ oauth_html }}}{% endif %}
  <button type="submit" class="sl-but"><i class="bi bi-box-arrow-in-right" aria-hidden="true"></i> {{ login_label }}</button>
</form>
