<label
  class="sl-radio"
  {% if input_id %}for="{{ input_id }}"{% endif %}
>
  <input
    type="radio"
    {% if input_id %}id="{{ input_id }}"{% endif %}
    name="{{ name_attr }}"
    value="{{ value_attr }}"
    {% if input_class %}class="{{ input_class }}"{% endif %}
    {% if is_checked %}checked{% endif %}
    {% if is_required %}required{% endif %}
    {% if is_disabled %}disabled{% endif %}
    {% if input_attr %}{{{ input_attr }}}{% endif %}
  >
  {% if label_html %}{{{ label_html }}}{% else %}{{ label_text }}{% endif %}
</label>
