<div class="sl-session-row{% if geo_html %} sl-session-row--icon{% endif %}">
  {% if geo_html %}<div class="sl-session-icon">{{{ geo_html }}}</div>{% endif %}
  <div class="sl-session-name">
    {% if name_link %}
    {% include 'fragments/link.html' with name_link %}
    {% else %}
    <span title="{{ name_title }}"{% if is_name_note %} class="sl-session-note"{% endif %}>{{ name_text }}</span>
    {% endif %}
  </div>
  <div title="{{ module_title }}" class="sl-session-module sl-session-note">
    {% if module_link %}
    {% include 'fragments/link.html' with module_link %}
    {% else %}
    {{ module_text }}
    {% endif %}
  </div>
</div>
