[justify][color=green][b]Utilisation des thèmes[/b][/color]<br>
Pour modifier le design du site, vous pouvez utiliser des thèmes.<br>
Un thème est un ensemble de fichiers responsables de l'apparence des pages du site. Un thème comprend : des fichiers de feuilles de style CSS (Cascading Style Sheets) définissant la couleur, l'arrière-plan, la taille de la police, etc. pour les éléments clés de la page, des fichiers de modèles pour les éléments principaux des pages, ainsi que des fichiers graphiques. Pour changer le design du site, il suffit de modifier le thème graphique dans le panneau d'administration.<br>
[hr][color=blue][b]Veuillez noter ![/b][/color]<br>
Dans SLAED CMS, les thèmes sont stockés dans le répertoire « templates ».[hr]Si l'administrateur possède des compétences en mise en page et en design, il peut créer lui-même un thème pour le site. Il est également possible de visualiser et d'« essayer » sur votre site des thèmes déjà créés, téléchargeables dans le catalogue de fichiers du site [url=https://slaed.net]slaed.net[/url].<br>
<br>
[color=green][b]Onglet « Modèles »[/b][/color]<br>
Dans cet onglet, la mise en page HTML de certains blocs du site est définie (par exemple, le menu).<br>
Pour apporter des modifications à un fichier, il suffit de cliquer sur le fichier souhaité dans la liste, d'effectuer les modifications dans le champ affiché et de cliquer sur le bouton « Enregistrer les modifications ».<br>
[hr][color=blue][b]Veuillez noter ![/b][/color]<br>
Les modifications sont apportées au thème sélectionné dans la liste au-dessus de la liste des fichiers. Pour changer de thème, sélectionnez le thème souhaité dans la liste et cliquez sur « OK ».[hr]<br>
[b][i][color=orangered]Points à surveiller lors de l'édition d'un thème[/color][/i][/b]<br>
<br>
[u]Variables du thème[/u]<br>
Le thème utilise un type de variables : &#036;arg[1], &#036;arg[2], etc.<br>
Elles sont responsables de l'affichage des titres, du contenu et d'autres composants en fonction du composant système auquel le design appartient.<br>
<br>
Les variables de type : &#036;lan[1], &#036;lan[2], etc. sont utilisées pour l'affichage des constantes (mots en fonction de la langue sélectionnée par le visiteur, si cette option est activée, sinon dans la langue définie par défaut). Vous pouvez ajouter vos propres constantes de langue au tableau correspondant dans le fichier du thème : core/template.php<br>
<br>
En plus des deux types principaux, des variables globales du système peuvent être utilisées dans le thème, telles que : &#036;theme, &#036;conf<br>
[li] [b][i]&#036;theme[/i][/b] – détermine le nom du thème actuel défini par défaut, ou du thème sélectionné par l'utilisateur dans les paramètres du profil, si cette option est activée<br>
[li] [b][i]&#036;conf[/i][/b] – est responsable de l'affichage des paramètres définis dans le fichier de configuration principal du système<br>
<br>
[u]Fichier index.html[/u]<br>
Le design principal du système est géré par le fichier index.html, destiné à former la structure et l'ordre d'affichage des modules, blocs et autres composants du système. Le maquettiste et le designer peuvent le remplir avec n'importe quel design HTML et appliquer toutes les techniques de mise en page possibles et connues. Il est possible d'utiliser le modèle principal de manière unique pour la page d'accueil du projet, indépendamment du module installé, ainsi que pour chaque module et catégorie du système individuellement.<br>
Le fichier index.html utilise des variables supplémentaires responsables de la sortie globale des modules et des blocs.<br>
Ci-dessous se trouve la description des variables standard de la forme {%XXXX%} et de ce dont elles sont responsables. Ces variables peuvent être placées dans tout le fichier, dans n'importe quel ordre.<br>
<br>
[li] [b][i]{%META%}[/i][/b] – formation standard de l'en-tête - meta et title, ainsi que le contenu présent par défaut dans le système.<br>
[li] [b][i]{%LINK%}[/i][/b] – formation standard de l'en-tête - link et styles CSS, ainsi que le contenu présent par défaut dans le système.<br>
[li] [b][i]{%SCRIPT%}[/i][/b] – formation standard de l'en-tête - script et JavaScript, ainsi que le contenu présent par défaut dans le système.<br>
[li] [b][i]{%BLOCKS banner%} ou {%BLOCKS b%}[/i][/b] – bannière supérieure.<br>
[li] [b][i]{%BLOCKS left%} ou {%BLOCKS l%}[/i][/b] – blocs gauches.<br>
[li] [b][i]{%BLOCKS message%} ou {%BLOCKS m%}[/i][/b] – message sur la page principale.<br>
[li] [b][i]{%BLOCKS center%} ou {%BLOCKS c%}[/i][/b] – blocs centraux supérieurs.<br>
[li] [b][i]{%MODULE%}[/i][/b] – emplacement pour le module que le système doit insérer (le contenu du module système sera affiché à cet endroit).<br>
[li] [b][i]{%BLOCKS down%} ou {%BLOCKS d%}[/i][/b] – blocs centraux inférieurs.<br>
[li] [b][i]{%BLOCKS right%} ou {%BLOCKS r%}[/i][/b] – blocs droits.<br>
[li] [b][i]{%BLOCKS foot%} ou {%BLOCKS f%}[/i][/b] – bannière inférieure.<br>
[li] [b][i]{%LICENSE%}[/i][/b] – droits d'auteur du système.<br>
[li] [b][i]{%BLOCKS time%} ou {%BLOCKS t%}[/i][/b] – temps de génération de la page.<br>
[li] [b][i]{%BLOCKS variables%}[/i][/b] – extensions de débogage : informations système, analyseur de variables et de requêtes de base de données.<br>
<br>
Directement dans le modèle principal, il est possible d'utiliser des « Blocs libres », dont l'affichage est assuré par les variables suivantes :<br>
[li] [b][i]{%BLOCKS none,XXX%} ou {%BLOCKS n,XXX%}[/i][/b] – bloc système arbitraire ou bloc libre sans mise en forme, où XXX est soit l'ID du bloc, soit le nom du fichier du bloc.<br>
[li] [b][i]{%BLOCKS standart,XXX%} ou {%BLOCKS s,XXX%}[/i][/b] – bloc système arbitraire ou bloc libre avec mise en forme, où XXX est soit l'ID du bloc, soit le nom du fichier du bloc.<br>
Des informations sur les blocs récapitulatifs sont disponibles dans la section « Blocs et bannières ».<br>
<br>
[hr][color=red][b][i]Attention ![/b]<br>
Lors de l'utilisation de JavaScript directement dans le thème, lors de l'écriture du code correspondant, au lieu des caractères :<br>
&quot; – il faut utiliser le code : &amp;#034; ou &amp;quot;<br>
&#039; – il faut utiliser le code : &amp;#039; ou &amp;apos;[/i][/color][hr]<br>
[color=green][b]Onglet « Styles »[/b][/color]<br>
Dans cet onglet, les styles du site sont définis (gestion des fichiers CSS du thème).<br>
Pour apporter des modifications à un fichier CSS, il suffit de cliquer sur le fichier souhaité dans la liste, d'effectuer les modifications dans le champ affiché et de cliquer sur le bouton « Enregistrer les modifications ».<br>
[hr][color=blue][b]Veuillez noter ![/b][/color]<br>
Les modifications sont apportées au thème sélectionné dans la liste au-dessus de la liste des fichiers. Pour changer de thème, sélectionnez le thème souhaité dans la liste et cliquez sur « OK ».[/justify]