<!DOCTYPE html>
<html>
<head>
<meta charset="$charset">
<link rel="stylesheet" href="templates/$theme/styles.css">
<title>$title</title>
</head>
<body>
<table width="640" border="0" align="center">
<tr><td width="250"><img src="templates/celestial/images/logos/$site_logo" border="0" alt="$sitename"></td><td align="right">$autor</td></tr>
<tr height="50"><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"><u><span class="sl_small">Eduard Laas &bull; Im Siek 6 &bull; 49179 Ostercappeln</span></u><br><br>$infos</td></tr>
<tr height="50"><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"><tr><td align="left"><b>Rechnung Nr.: $num</b></td><td align="right"><b>Datum: $date</b></td></tr>
<tr height="50"><td colspan="2">&nbsp;</td></tr>
</table>
<table width="640" border="0" align="center">
<tr><td align="left"><b>Menge/St.</b></td><td align="left"><b>Beschreibung</b></td><td align="right"><b>Einzelpreis</b></td><td align="right"><b>Summe</b></td></tr>
<tr><td align="left" valign="top">$menge</td><td align="left"><div align="justify">WebMoney – W&auml;hrung: WMZ (WebMoney ist ein universelles System im Internet, dass die M&ouml;glichkeit er&ouml;ffnet, eine sofortige Zahlung im Internet durchzuf&uuml;hren. Das System ist f&uuml;r &ouml;ffentliche Benutzung und hat keine territoriale Beschr&auml;nkung. WebMoney stellt somit „eine Kunstw&auml;hrung“ f&uuml;r die Internethandel dar.)</div></td><td align="right" valign="top">$kurs</td><td align="right" valign="top">$sum</td></tr>
<tr height="50"><td colspan="5">&nbsp;</td></tr>
<tr><td align="left">&nbsp;</td><td align="right">&nbsp;</td><td align="right">Zwischensumme:</td><td align="right">$sum</td></tr>
<tr><td align="left">&nbsp;</td><td align="right">&nbsp;</td><td align="right">Mehrwertsteuersatz:</td><td align="right">0,00%</td></tr>
<tr><td align="left">&nbsp;</td><td align="right">&nbsp;</td><td align="right">Mehrwertsteuer:</td><td align="right">0,00 €</td></tr>
<tr><td align="left">&nbsp;</td><td align="right">&nbsp;</td><td align="right"><b>Rechnungsbetrag:</b></td><td align="right"><b>$sum</b></td></tr>
<tr height="100"><td colspan="5">&nbsp;</td></tr>
<tr><td colspan="5"><div align="justify">Bitte geben Sie bei der Zahlung als Verwendungszweck den Rechnungsnummer an. Zahlungen ohne Angaben Des Verwendungszwecks sowie Teilzahlungen &uuml;berweisen wir an Sie zur&uuml;ck. Bezahlen Sie den Rechnungsbetrag bitte innerhalb von 14 Tagen per &Uuml;berweisung auf unten folgendes Konto.</div></td></tr>
<tr height="100"><td colspan="5">&nbsp;</td></tr>
</table>
<table width="640" border="0" align="center">
<tr><td align="left"><b>Gesch&auml;ftsf&uuml;hrer</b></td><td align="right"><b>Bankverbindung</b></td></tr>
<tr><td colspan="5"><hr style="border: #000000 1px solid ;"></td></tr>
<tr><td align="left"><span class="sl_small">Eduard Laas</span></td><td align="right"><span class="sl_small">Sparkasse Osnabr&uuml;ck, BLZ: 265 501 05, Kontonummer: 140 713 85<br>IBAN: DE87 2655 0105 0014 0713 85, BIC-/SWIFT-Code: NOLADE22</span></td></tr>
</table>
</body>
</html>