<form action="{{ route }}.php" method="post">
<table class="sl_table_form">
{{{ rows }}}
<tr><td colspan="2" class="sl_center"><input type="hidden" name="oldposition" value="{{ oldpos }}"><input type="hidden" name="bid" value="{{ bid }}"><input type="hidden" name="newexp" value="{{ newexp }}"><input type="hidden" name="bkey" value="{{ bkey }}"><input type="hidden" name="weight" value="{{ weight }}"><input type="hidden" name="name" value="blocks"><input type="hidden" name="op" value="editsave"><input type="submit" value="{{ btn }}" class="sl_but_blue"></td></tr>
</table>
</form>
