<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="templates/simple/assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="templates/simple/assets/css/theme.css">
</head>
<body>
    <main class="py-5">
        <div class="container">
            {{{ content_html }}}
        </div>
    </main>

    <script src="templates/simple/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="templates/simple/assets/js/theme.js"></script>
</body>
</html>
