<!doctype html>
<html lang="{{ lang }}">
<head>
    <title>{% block title %}{% if title %}{{ title }}{% else %}{{ sitename }}{% endif %}{% endblock %}</title>
    {{{ meta }}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{{ links }}}
</head>
<body>
    {% if login %}
    <div class="wrapper slaenter">
        <div class="wraptop"></div>
        <div class="wrapmid">
            <div class="header">
                <div class="lcolomn leftside"><h1><a href="//slaed.net" target="_blank" class="thide" title="SLAED CMS">SLAED CMS</a></h1></div>
                <div class="rcolomn midside"><b title="{{ login }}">{{ login }}</b></div>
            </div>
            <div class="entercont">
    {% endif %}
    {% block content %}{% endblock %}
    {% if login %}
            </div>
            <div class="footer"><div class="copyright">{{{ license }}}</div></div>
        </div>
        <div class="wrapfoot"></div>
    </div>
    {% endif %}
    {{{ scripts }}}
</body>
</html>
