<form action="{{{ action_url }}}" method="post" class="sl-div-form"{% if form_attr %} {{{ form_attr }}}{% endif %}>
    {% for item in hidden %}
    {% include 'fragments/new/hidden.html' with item %}
    {% endfor %}
    {% if rows %}
    {% include 'fragments/new/div.html' %}
    {% endif %}
    {% if content_html %}
    {{{ content_html }}}
    {% endif %}
    {% if submit_label %}
    <div class="sl-div-actions">
        {% include 'fragments/new/submit.html' %}
    </div>
    {% elseif actions %}
    <div class="sl-div-actions">
        {% include 'fragments/save-action.html' with actions %}
    </div>
    {% endif %}
</form>
