<div class="basecont">
    <div class="bpad">
        <div class="sl-module-head">
            <div class="sl-module-head-icon"><img src="templates/admin/images/admin/{{ icon }}" title="{{ title }}" alt="{{ title }}"></div>
            <div class="sl-module-head-body">
                <h1 class="sl-module-head-title">{{ title }}</h1>
                {% if subtitle_html %}<div class="sl-module-head-subtitle">{{{ subtitle_html }}}</div>{% endif %}
            </div>
        </div>
        {% if tabs_html %}<ul class="sl-tabs-nav sl-tabs-nav-main">{{{ tabs_html }}}</ul>{% endif %}
    </div>
</div>
