<article id="{{ id }}" class="post fullview">
	<h3 class="title">{{{ favorites }}} {{{ title }}}</h3>
	<div class="meta">
		<ul class="pull-right">
			<li>{{{ hits }}}</li>
			<li>{% if reads %}<span title="{{ reads_label }}" class="sl_views">{{ reads }}</span>{% endif %}</li>
			<li>{% if post %}<span title="{{ post_label }}" class="sl_post">{{{ post }}}</span>{% endif %}</li>
			<li><a href="#{{ id }}" title="{{ id }}" class="sl_pnum">{{ id }}</a></li>
		</ul>
		<ul>
			<li>{% if date %}<time datetime="{{ date_iso }}" title="{{ date_label }}" class="sl_date">{{ date }}</time>{% endif %}</li>
			<li>{{{ ctitle }}}</li>
		</ul>
	</div>
	<div class="entry-content">{{{ cimg }}} {{{ text }}}</div>
	<div class="more-info">
		<div class="more-col">
			<ul>
				{% if year %}<li>{{ year }}</li>{% endif %}
				{% if director %}<li>{{ director }}</li>{% endif %}
				{% if roles %}<li>{{ roles }}</li>{% endif %}
				{% if createdby %}<li>{{ createdby }}</li>{% endif %}
				{% if duration %}<li>{{ duration }}</li>{% endif %}
			</ul>
			<ul>
				{% if lang %}<li>{{ lang }}</li>{% endif %}
				{% if format %}<li>{{ format }}</li>{% endif %}
				{% if quality %}<li>{{ quality }}</li>{% endif %}
				{% if size %}<li>{{ size }}</li>{% endif %}
				{% if released %}<li>{{ released }}</li>{% endif %}
			</ul>
		</div>
	</div>
	{% if note %}<div class="entry-content">{{{ note }}}</div>{% endif %}
	{% if links_label %}<h5 class="title">{{ links_label }}</h5>{% endif %}
	{% if mlinks %}<div class="more-info">{{{ mlinks }}}</div>{% endif %}
	<div class="meta-foot">
		<div class="rate-like-box pull-right">{{{ rating }}}</div>
		{{{ goback }}}{{{ admin }}}{{{ download }}}{{{ broken }}}
	</div>
</article>
