{% if is_signature %}
<hr>
{{{ content }}}
{% else %}
<div
  {% if id %}id="{{ id }}"{% endif %}
  {% if class or is_catflex_cont or is_catflex_box or is_radio_group or is_form_submit or is_center or is_main_grid or is_section or is_hidden or is_search_line or is_search_meta or is_pull_right or is_post_vote or is_message_box or is_block_flags or is_block_modules or is_block_module_section %}
  class="
    {% if class %}{{ class }}{% endif %}
    {% if is_catflex_cont %}{% if class %} {% endif %}sl-catflex-cont{% endif %}
    {% if is_catflex_box %}{% if class or is_catflex_cont %} {% endif %}sl-catflex-box{% endif %}
    {% if is_radio_group %}{% if class or is_catflex_cont or is_catflex_box %} {% endif %}{% if switch %}sl-radio-switch {% endif %}sl-radio-group{% endif %}
    {% if is_form_submit %}{% if class or is_catflex_cont or is_catflex_box or is_radio_group %} {% endif %}sl-form-submit{% endif %}
    {% if is_center %}{% if class or is_catflex_cont or is_catflex_box or is_radio_group or is_form_submit %} {% endif %}sl-center{% endif %}
    {% if is_main_grid %}{% if class or is_catflex_cont or is_catflex_box or is_radio_group or is_form_submit or is_center %} {% endif %}sl-wrp sl-grid-1-2{% endif %}
    {% if is_section %} sl-section{% endif %}
    {% if is_hidden %} sl-none{% endif %}
    {% if is_search_line %} sl-search-line{% endif %}
    {% if is_search_meta %} sl-search-meta{% endif %}
    {% if is_pull_right %} sl-pull-right{% endif %}
    {% if is_post_vote %} sl-post-vote{% endif %}
    {% if is_message_box %} sl-message-box{% endif %}
    {% if is_block_flags %} sl-block-flags{% endif %}
    {% if is_block_modules %} sl-block-modules{% endif %}
    {% if is_block_module_section %} sl-block-mod-section{% endif %}
  "
  {% endif %}
>{{{ content }}}</div>
{% if has_hr %}<hr>{% endif %}
{% endif %}
