<form action="index.php?name=account" method="post" class="sl-block-login">
  <p><label>{{ nickname_label }}: {{{ name_input }}}</label></p>
  <p><label>{{ password_label }}: <input type="password" name="user_pass" maxlength="32" class="sl-field sl-field--block" required></label></p>
  {% if captcha_html %}{{{ captcha_html }}}{% endif %}
  {{{ hidden_inputs }}}
  {% if network_row %}{{{ network_row }}}{% endif %}
  <p><button type="submit" class="sl-but-primary">{{ login_label }}</button></p>
</form>
