<input
  type="{% if button_type %}{{ button_type }}{% else %}button{% endif %}"
  {% if button_id %}id="{{ button_id }}"{% elseif input_id %}id="{{ input_id }}"{% endif %}
  value="{% if submit_label %}{{ submit_label }}{% elseif label %}{{ label }}{% else %}{{ update_label }}{% endif %}"
  class="
    {% if button_class %}{{ button_class }}
    {% elseif class %}{{ class }}
    {% elseif is_changelog_primary %}sl-changelog-button sl-changelog-button-primary
    {% elseif is_changelog_secondary %}sl-changelog-button sl-changelog-button-secondary
    {% elseif reload_query %}sl-but
    {% elseif is_navi_lower %}sl-but
    {% else %}sl-but
    {% endif %}
  "
  {% if title %}title="{{ title }}"{% endif %}

  {% if is_back %}onclick="javascript:window.history.go(-1);"{% endif %}
  {% if reset_url %}onclick="window.location.href='{{{ reset_url }}}'"{% endif %}

  {% if button_attr %}{{{ button_attr }}}
  {% elseif input_attr %}{{{ input_attr }}}
  {% elseif reload_query %}OnClick="htmx.ajax(&quot;GET&quot;, &quot;{{{ reload_query }}}&quot;, {target:&quot;#{{ list_id }}&quot;, swap:&quot;innerHTML&quot;}); return false;"
  {% endif %}
  {% if hx_post %}hx-post="{{ hx_post }}" {% if hx_include %}hx-include="{{ hx_include }}" {% endif %}hx-target="{{ hx_target }}" hx-swap="{% if hx_swap %}{{ hx_swap }}{% else %}innerHTML{% endif %}" hx-push-url="false"{% if hx_on_click %} hx-on:click="{{{ hx_on_click }}}"{% endif %}{% if hx_on_after %} hx-on:htmx:after-request="{{{ hx_on_after }}}"{% endif %}{% endif %}
>
