{% if label_text or label_html %}<label{% if label_class %} class="{{ label_class }}"{% endif %}>{% endif %}
<input
  type="checkbox"
  {% if name_attr %}name="{{ name_attr }}"{% endif %}
  {% if value_attr %}value="{{ value_attr }}"{% endif %}
  {% if input_id %}id="{{ input_id }}"{% endif %}
  {% if !is_plain %}
  class="{% if is_legacy_check or is_check %}sl-check{% else %}sl-check{% if input_class %} {{ input_class }}{% endif %}{% endif %}"
  {% endif %}
  {% if is_legacy_check or is_check %}data-sl-check-item{% endif %}
  {% if is_checked %}checked{% endif %}
  {% if is_required %}required{% endif %}
  {% if is_disabled %}disabled{% endif %}
  {% if describedby %}aria-describedby="{{ describedby }}"{% endif %}
  {% if input_attr %}{{{ input_attr }}}{% endif %}
>{% if label_text or label_html %} {% if label_html %}{{{ label_html }}}{% else %}{{ label_text }}{% endif %}</label>{% endif %}{% if hint_html %}<span class="sl-small"{% if hint_id %} id="{{ hint_id }}"{% endif %}>{{{ hint_html }}}</span>{% endif %}
