<dl class="sl-debug-stats">
  <dt>{{ lbl_meml }}</dt>
  <dd>
    <span class="sl-debug-value{% if mem_is_success %} sl-debug-success{% endif %}{% if mem_is_info %} sl-debug-info{% endif %}{% if mem_is_warn %} sl-debug-warn{% endif %}{% if mem_is_danger %} sl-debug-danger{% endif %}">{{ mem_value }} / {{ mem_limit }} ({{ mem_percent }}%)</span>
    <meter class="sl-vote-meter sl-vote-meter-{{ mem_progress }}" value="{{ mem_percent }}" min="0" max="100">{{ mem_percent }}%</meter>
  </dd>
  <dt>{{ generation_label }}</dt>
  <dd>
    <span class="sl-debug-value{% if generation_is_success %} sl-debug-success{% endif %}{% if generation_is_info %} sl-debug-info{% endif %}{% if generation_is_warn %} sl-debug-warn{% endif %}{% if generation_is_danger %} sl-debug-danger{% endif %}">{{ generation_text }}</span>
    <meter class="sl-vote-meter sl-vote-meter-{{ generation_progress }}" value="{{ generation_percent }}" min="0" max="100">{{ generation_percent }}%</meter>
  </dd>
  <dt>{{ db_queries_label }}</dt>
  <dd>
    <span class="sl-debug-value{% if db_queries_is_success %} sl-debug-success{% endif %}{% if db_queries_is_info %} sl-debug-info{% endif %}{% if db_queries_is_warn %} sl-debug-warn{% endif %}{% if db_queries_is_danger %} sl-debug-danger{% endif %}">{{ db_queries_text }}</span>
    <meter class="sl-vote-meter sl-vote-meter-{{ db_queries_progress }}" value="{{ db_queries_percent }}" min="0" max="100">{{ db_queries_percent }}%</meter>
  </dd>
  <dt>{{ db_time_label }}</dt>
  <dd>
    <span class="sl-debug-value{% if db_is_success %} sl-debug-success{% endif %}{% if db_is_info %} sl-debug-info{% endif %}{% if db_is_warn %} sl-debug-warn{% endif %}{% if db_is_danger %} sl-debug-danger{% endif %}">{{ db_text }}</span>
    <meter class="sl-vote-meter sl-vote-meter-{{ db_progress }}" value="{{ db_percent }}" min="0" max="100">{{ db_percent }}%</meter>
  </dd>
</dl>
