<nav class="sl-menu">
  <ul>
    <li>
      <span class="sl-but-danger">
        {% if trigger_label %}{{ trigger_label }}{% elseif editor_label %}{{ editor_label }}{% else %}{{ editor }}{% endif %}
      </span>
      <ul>
        {% if items_html %}
          {{{ items_html }}}
        {% else %}
          {% for item in items %}{% include 'fragments/link.html' with item %}{% endfor %}
          {% if view_link %}{% include 'fragments/link.html' with view_link %}{% endif %}
          {% if edit_link %}
            {% include 'fragments/link.html' with edit_link %}
          {% elseif edit_href %}
            <a href="{{{ edit_href }}}" title="{{ edit_text }}">{{ edit_text }}</a>
          {% endif %}
          {% if delete_link %}
            {% include 'fragments/link.html' with delete_link %}
          {% elseif delete_href %}
            <a href="{{{ delete_href }}}" OnClick="return DelCheck(this, '{{{ delete_ask }}}');" title="{{ delete_text }}">{{ delete_text }}</a>
          {% endif %}
        {% endif %}
      </ul>
    </li>
  </ul>
</nav>
