<div{% if id %} id="{{ id }}"{% endif %}{% if is_closed %} title="{{ closed_title }}" class="sl-hidden"{% endif %}>
  <div class="sl-forum-post">
    <div class="sl-forum-post-in">
      <div class="sl-fp-right">
        <div class="sl-fp-meta">
          {% if rating or post_count or btn_edit or btn_user %}
          <div class="sl-pull-right">
            <div class="sl-min-rate">
              <div class="sl-rate-like-box">{{{ rating }}}</div>
            </div>
            {{{ btn_user }}}
            {{{ btn_edit }}}
            {{{ post_count }}}
          </div>
          {% endif %}
          <span class="sl-grey">{{{ date }}} {{{ ip }}} {{ meta_title }}</span>
        </div>
        <div class="sl-entry-content">{{{ text }}}{% if is_private_message %}<small>{{{ sig }}}</small>{% else %}<div class="sl-sig">{{{ sig }}}</div>{% endif %}</div>
        {% if btn_warn or btn_thank %}<div class="sl-fp-moder">{{{ btn_warn }}}{{{ btn_thank }}}</div>{% endif %}
      </div>
      <div class="sl-fp-left">
        <div class="sl-fp-nickname">{% if report %}{{{ report }}}{% endif %}<b>{{{ username_html }}}</b></div>
        <div class="sl-com-ava">{% if avatar_html %}{{{ avatar_html }}}{% else %}<img src="{{ avatar }}" alt="{{ username }}" title="{{ username }}" class="sl-avatar">{% endif %}</div>
        <div class="sl-min-rate">
          <div class="sl-rate-like-box">{{{ user_rate }}}</div>
        </div>
        <ul class="sl-fp-user-info">
          <li>{% if rank_html %}{{{ rank_html }}}{% else %}{{ rank }}{% endif %}</li>
          <li>{{{ rank_link }}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
