<li{% if hidden %} class="sl-hidden"{% endif %}>
  <a href="{{ href }}" title="{{ title }}">{{ title }}</a>
  <br>
  <span class="sl-forum-meta">
    <span class="sl-forum-meta-item">
      <span class="sl-visually-hidden">{{ by }}:</span>
      {{{ poster }}}
    </span>
    <span class="sl-forum-meta-item">
      <i class="bi bi-clock-history sl-forum-meta-icon" aria-hidden="true"></i>
      <span class="sl-visually-hidden">{{ when_label }}:</span>
      {{ when }}
    </span>
  </span>
</li>
