{% if is_category_info %}
<ul class="sl-grid_1_3 sl-forum-cat-info">
	<li class="sl-grid">{{{ new }}}</li>
	<li class="sl-grid">{{{ nonew }}}</li>
	<li class="sl-grid">{{{ closed }}}</li>
</ul>
{% else %}
<div class="sl-forum-list-info sl-grid_1_2">
	<ul class="sl-grid">
		<li>{{{ new }}}</li>
		<li>{{{ old }}}</li>
		<li>{{{ popular_new }}}</li>
		<li>{{{ popular }}}</li>
		<li>{{{ announce }}}</li>
	</ul>
	<ul class="sl-grid">
		<li>{{{ hot }}}</li>
		<li>{{{ mod }}}</li>
		<li>{{{ admin }}}</li>
		<li>{{{ closed }}}</li>
		<li>{{{ pinned }}}</li>
	</ul>
	<!--<ul class="sl-grid">
		<li>{{{ perm_view }}}</li>
		<li>{{{ perm_read }}}</li>
		<li>{{{ perm_topic }}}</li>
		<li>{{{ perm_reply }}}</li>
		<li>{{{ perm_edit }}}</li>
		<li>{{{ perm_delete }}}</li>
		<li>{{{ perm_mod }}}</li>
	</ul> -->
</div>
{% endif %}
