<div{% if id %} id="{{ id }}"{% endif %}{% if is_closed %} title="{{ closed_title }}" class="sl-hidden"{% endif %}>
	<div class="forum-post">
		<div class="forum-post-in clrfix">
			<div class="fp-right">
				<div class="fp-meta">
					{% if rating or post_count %}<div class="pull-right">
						<div class="min-rate">
							<div class="rate-like-box">{{{ rating }}}</div>
						</div>
						{{{ post_count }}}
					</div>{% endif %}
					<span class="grey">{{{ date }}} {{{ ip }}} {{ meta_title }}</span>
				</div>
				<div class="entry-content">{{{ text }}}{% if is_private_message %}<small>{{{ sig }}}</small>{% else %}<div class="sl-sig">{{{ sig }}}</div>{% endif %}</div>
				<div class="fp-moder">{{{ btn_personal }}}{{{ btn_pm }}}{{{ btn_profile }}}{{{ btn_web }}}{{{ btn_warn }}}{{{ btn_thank }}}{{{ btn_reply }}}{{{ btn_edit }}}</div>
			</div>
			<div class="fp-left">
				<div class="fp-nickname dropdown dropup">
					<a href="#" data-sl-toggle-control="{% if dropdown_id %}{{ dropdown_id }}{% else %}f-form-{{ id }}{% endif %}" data-sl-toggle-effect="slide" data-sl-toggle-duration="500"><b>{{ username }}</b></a>
					<div id="{% if dropdown_id %}{{ dropdown_id }}{% else %}f-form-{{ id }}{% endif %}" class="dropdown-form">
						<ul class="list-text">
							<li>{{{ group }}}</li>
							<li>{{ points }}</li>
							<li>{{ regdate }}</li>
							<li>{{ gender }}</li>
							<li>{{ from }}</li>
							<li>{{{ warn }}}</li>
						</ul>
					</div>
				</div>
				{% if avatar_html %}{{{ avatar_html }}}{% else %}<img src="{{ avatar }}" alt="{{ username }}" title="{{ username }}" class="sl-avatar">{% endif %}
				<div class="min-rate">
					<div class="rate-like-box">{{{ user_rate }}}</div>
				</div>
				<ul class="fp-user-info">
					<li>{% if rank_html %}{{{ rank_html }}}{% else %}{{ rank }}{% endif %}</li>
					<li>{{{ rank_link }}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
