{% if tip_html %}{{{ tip_html }}}{% endif %}
<input
  type="{% if itype %}{{ itype }}{% else %}text{% endif %}"
  name="{{ name_attr }}"
  value="{{ value_attr }}"
  class="
    sl-field
    {% if input_class %} {{ input_class }}{% endif %}
    {% if is_calculator %} sl-calculator-field{% endif %}
    {% if is_block %} sl-field--block{% endif %}
  "
  {% if input_id %}id="{{ input_id }}"{% endif %}
  {% if maxlength_num %}maxlength="{{ maxlength_num }}"{% endif %}
  {% if placeholder_text %}placeholder="{{ placeholder_text }}"{% endif %}
  {% if autocomplete_attr %}autocomplete="{{ autocomplete_attr }}"{% endif %}

  {% if is_user_search %}
    autocomplete="off"
    data-sl-user-search="{{{ endpoint_attr }}}"
    data-sl-user-token="{{ token_attr }}"
    data-sl-user-minlength="{{ minlength_num }}"
    {% if card_attr %}data-sl-user-card="{{ card_attr }}"{% endif %}
    list="{{ list_id }}"
  {% endif %}

  {% if is_checked %}checked{% endif %}
  {% if is_required %}required{% endif %}
  {% if is_readonly %}readonly{% endif %}
  {% if is_disabled %}disabled{% endif %}
  {% if input_attr %}{{{ input_attr }}}{% endif %}
>{% if list_id %}<datalist id="{{ list_id }}"></datalist>{% endif %}
