<li>
  {% if image_link %}
    {% include 'fragments/link.html' with image_link %}
  {% else %}
    <a href="{{ url }}" title="{{ title }}" class="sl-main-img"><img src="{{ img }}" alt="{{ title }}"></a>
  {% endif %}
  <b>
    {% if title_link %}
      {% include 'fragments/link.html' with title_link %}
    {% else %}
      <a href="{{ url }}" title="{{ title }}">{{ label }}</a>
    {% endif %}
  </b>
  <p>{{ text }}</p>
  <ul class="sl-muted">
    <li>
      {% if category_link %}
        {% include 'fragments/link.html' with category_link %}
      {% else %}
        <a href="{{ cat_url }}" title="{{ cat_desc }}" class="sl-chip sl-cat"><i class="bi bi-folder" aria-hidden="true"></i> <b>{{ cat_title }}</b></a>
      {% endif %}
    </li>
    <li>
      {% if date_badge %}
        {% include 'fragments/date-badge.html' with date_badge %}
      {% else %}
        <span title="{{ date_label }}" class="sl-chip sl-chip-info sl-date"><i class="bi bi-calendar3" aria-hidden="true"></i> {{ date }}</span>
      {% endif %}
    </li>
  </ul>
</li>
