{% if href %}
  <a
    href="{{{ href }}}"
    title="{{ title }}"
    class="sl-pnum{% if is_nav %} sl-pnum-nav{% endif %}"
  >{% if is_nav and icon_name %}<i class="bi bi-{{ icon_name }}" aria-hidden="true"></i>{% else %}{{ label }}{% endif %}</a>
{% elseif query %}
  <a
    href="{{{ query }}}"
    title="{{ title }}"
    class="sl-pnum{% if is_nav %} sl-pnum-nav{% endif %}"
    hx-get="{{{ query }}}"
    hx-target="#{{ target_id }}"
    hx-swap="innerHTML"
    hx-push-url="{% if push_url %}{{ push_url }}{% else %}false{% endif %}"
  >{% if is_nav and icon_name %}<i class="bi bi-{{ icon_name }}" aria-hidden="true"></i>{% else %}{{ label }}{% endif %}</a>
{% else %}
  <span
    title="{{ title }}"
    class="sl-pnum{% if is_cur %} sl-pnum-cur{% endif %}{% if is_nav %} sl-pnum-nav{% endif %}"
  >{% if is_nav and icon_name %}<i class="bi bi-{{ icon_name }}" aria-hidden="true"></i>{% else %}{{ label }}{% endif %}</span>
{% endif %}
