<span class="sl-none">{{ result }}</span>
<div class="sl-rate-like">
  <p
    {% if is_live %}
      hx-get="index.php?{{{ rate1_query }}}"
      hx-trigger="click"
      hx-target="#{{ target_id }}"
      hx-swap="outerHTML"
      hx-push-url="false"
    {% endif %}
    title="{{ rate1_title }}"
    class="sl-rate-minus{% if is_live %} sl-out{% endif %}"
  ><i class="bi bi-hand-thumbs-down" aria-hidden="true"></i></p>
  <p
    {% if is_live %}
      hx-get="index.php?{{{ rate5_query }}}"
      hx-trigger="click"
      hx-target="#{{ target_id }}"
      hx-swap="outerHTML"
      hx-push-url="false"
    {% endif %}
    title="{{ rate5_title }}"
    class="sl-rate-plus{% if is_live %} sl-out{% endif %}"
  ><i class="bi bi-hand-thumbs-up" aria-hidden="true"></i></p>
</div>
<span title="{{ title }}" class="sl-rate-num{% if has_score %} sl-rate-is{% endif %}">{{ result }}</span>
