<tr>
    <td>
        {{{ geo_html }}}
        {% if name_href %}
        <a href="{{{ name_href }}}" title="{{ name_title }}"{% if name_target %}{{{ name_target }}}{% endif %}{% if name_class %} class="{{ name_class }}"{% endif %}>{{ name_text }}</a>
        {% else %}
        <span title="{{ name_title }}"{% if name_class %} class="{{ name_class }}"{% endif %}>{{ name_text }}</span>
        {% endif %}
    </td>
    <td title="{{ module_title }}" class="{% if module_class %}{{ module_class }}{% else %}sl-session-right sl-session-note{% endif %}">
        {% if module_href %}
        <a href="{{{ module_href }}}" title="{{ module_title }}"{% if module_target %}{{{ module_target }}}{% endif %}>{{ module_text }}</a>
        {% else %}
        {{ module_text }}
        {% endif %}
    </td>
</tr>
