<h3 class="sl-cart-title">{{ title }}</h3>
<table class="sl-cart-table">
	<thead><tr class="sl-cart-head"><th class="sl-cart-col-num">{{ col_id }}</th><th>{{ col_product }}</th><th class="sl-cart-col-num">{{ col_qty }}</th><th class="sl-cart-col-stat">{{ col_price }}</th><th class="sl-cart-col-stat">{{ col_fn }}</th></tr></thead>
	<tbody>
		{{{ rows_html }}}
		<tr class="sl-cart-foot"><td colspan="2"><a href="{{{ cart_href }}}" title="{{ cart_title }}" class="sl-cart-checkout">{{ cart_label }}</a></td><td colspan="3"><span title="{{ total_title }}" class="sl-cart-total">{{ total_text }}</span></td></tr>
	</tbody>
</table>
