{% if is_forum_heading %}
<h1 class="sl-heading">{{ title }}</h1>
{% elseif content or subtitle %}
<div class="sl-basecont">
  <div class="sl-bpad">
    <div class="sl-headmodule">
      <div class="sl-rcolomn"><h1>{{ title }}</h1>{{{ subtitle }}}</div>
      <div class="sl-clr"></div>
    </div>
    <br>
    {{{ content }}}
  </div>
</div>
{% elseif is_level_one %}
<h1 class="sl-title">{% if title_html %}{{{ title_html }}}{% else %}{{ title }}{% endif %}</h1>
{% elseif is_level_two %}
<h2>{% if title_html %}{{{ title_html }}}{% else %}{{ title }}{% endif %}</h2>
{% elseif is_level_four %}
<h4>{% if title_html %}{{{ title_html }}}{% else %}{{ title }}{% endif %}</h4>
{% else %}
<h3 class="{% if title_class %}{{ title_class }}{% else %}sl-title{% endif %}">{% if title_html %}{{{ title_html }}}{% else %}{{ title }}{% endif %}</h3>
{% endif %}
