{% if is_forum_heading %}
<h1 class="sl-heading">{{ title }}</h1>
{% elseif content or icon or subtitle %}
<div class="sl-basecont">
    <div class="sl-bpad">
        <div class="sl-headmodule">
            {% if icon %}<span class="sl-lcolomn"><img src="templates/admin/images/admin/{{ icon }}" title="{{ title }}" alt="{{ title }}"></span>{% endif %}
            <div class="sl-rcolomn"><h1>{{ title }}</h1>{{{ subtitle }}}</div>
            <div class="sl-clr"></div>
        </div>
        <br>
        {{{ content }}}
    </div>
</div>
{% elseif is_level_two and title_html %}
<h2>{{{ title_html }}}</h2>
{% elseif is_level_two and title %}
<h2>{{ title }}</h2>
{% elseif is_level_four and title_html %}
<h4>{{{ title_html }}}</h4>
{% elseif is_level_four and title %}
<h4>{{ title }}</h4>
{% elseif title_html %}
<h3 class="{% if title_class %}{{ title_class }}{% elseif is_plain %}sl-title{% else %}sl-title{% endif %}">{{{ title_html }}}</h3>
{% elseif title %}
<h3 class="{% if title_class %}{{ title_class }}{% elseif is_plain %}sl-title{% else %}sl-title{% endif %}">{{ title }}</h3>
{% endif %}
