<div class="sl-dashboard-panel">
  <h1 class="sl-dashboard-panel-head" title="{{ title }}" data-sl-toggle-control="{{ panel_id }}" data-sl-toggle-effect="slide" data-sl-toggle-duration="500"><b>{% if icon_name %}<i class="bi bi-{{ icon_name }}" aria-hidden="true"></i>{% endif %}{{ title }}</b><i class="bi bi-arrows-collapse sl-panel-toggle sl-panel-toggle-open" aria-hidden="true"></i><i class="bi bi-arrows-expand sl-panel-toggle sl-panel-toggle-closed" aria-hidden="true"></i></h1>
  <div id="{{ panel_id }}" class="sl-dashboard-panel-content" data-sl-toggle="{{ panel_id }}">
    {{{ content_html }}}
  </div>
</div>
